<template>
    <div>
        <h4 class="mb-3">Content comparison</h4>
        <h5 class="d-block mb-3">Here are the best perfoming types of content for "Electric cars"</h5>
        <transition enter-active-class="animated faster fadeInDownSmall" mode="out-in">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card shadow-sm mb-3 mb-lg-4">
                        <div class="card-body">
                            <h5 class="font-weight-bold">1. Product review</h5>
                            <div class="d-flex justify-content-between">
                                <div><span>1st page</span><span class="d-block font-weight-bold">60%</span></div>
                                <div><span>2nd page</span><span class="d-block font-weight-bold">40%</span></div>
                                <div><span>3rd page</span><span class="d-block font-weight-bold">40%</span></div>
                            </div>
                        </div><!-- end card body -->
                        <div class="card-footer">
                            <p>80% of top ranking reviews include schema</p>
                            <a href="https://schema.org/Review" target="_blank" class="btn btn-sm btn-grey">Schema specification</a>
                        </div>
                    </div><!-- end card -->
                </div><!-- end col -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card shadow-sm mb-3 mb-lg-4">
                        <div class="card-body">
                            <h5 class="font-weight-bold">2. Video</h5>
                            <div class="d-flex justify-content-between">
                                <div><span>1st page</span><span class="d-block font-weight-bold">60%</span></div>
                                <div><span>2nd page</span><span class="d-block font-weight-bold">40%</span></div>
                                <div><span>3rd page</span><span class="d-block font-weight-bold">40%</span></div>
                            </div>
                        </div><!-- end card body -->
                        <div class="card-footer">
                            <p>10% of top ranking reviews include schema</p>
                            <a href="https://schema.org/Review" target="_blank" class="btn btn-sm btn-grey">Schema specification</a>
                        </div>
                    </div><!-- end card -->
                </div><!-- end col -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card shadow-sm mb-3 mb-lg-4">
                        <div class="card-body">
                            <h5 class="font-weight-bold">3. Blog post</h5>
                            <div class="d-flex justify-content-between">
                                <div><span>1st page</span><span class="d-block font-weight-bold">60%</span></div>
                                <div><span>2nd page</span><span class="d-block font-weight-bold">40%</span></div>
                                <div><span>3rd page</span><span class="d-block font-weight-bold">40%</span></div>
                            </div>
                        </div><!-- end card body -->
                        <div class="card-footer">
                            <p>80% of top ranking reviews include author data.</p>
                            <a href="https://schema.org/Review" target="_blank" class="btn btn-sm btn-grey">Schema specification</a>
                        </div>
                    </div><!-- end card -->
                </div><!-- end col -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card shadow-sm mb-3 mb-lg-4">
                        <div class="card-body">
                            <h5 class="font-weight-bold">4. Standard page</h5>
                            <div class="d-flex justify-content-between">
                                <div><span>1st page</span><span class="d-block font-weight-bold">60%</span></div>
                                <div><span>2nd page</span><span class="d-block font-weight-bold">40%</span></div>
                                <div><span>3rd page</span><span class="d-block font-weight-bold">40%</span></div>
                            </div>
                        </div><!-- end card body -->
                        <div class="card-footer">
                            <p>No actionable reccomendations</p>
                        </div>
                    </div><!-- end card -->
                </div><!-- end col -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card shadow-sm mb-3 mb-lg-4">
                        <div class="card-body">
                            <h5 class="font-weight-bold">5. Brand pages</h5>
                            <div class="d-flex justify-content-between">
                                <div><span>1st page</span><span class="d-block font-weight-bold">60%</span></div>
                                <div><span>2nd page</span><span class="d-block font-weight-bold">40%</span></div>
                                <div><span>3rd page</span><span class="d-block font-weight-bold">40%</span></div>
                            </div>
                        </div><!-- end card body -->
                        <div class="card-footer">
                            <p>No actionable reccomendations</p>
                        </div>
                    </div><!-- end card -->
                </div><!-- end col -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card shadow-sm mb-3 mb-lg-4">
                        <div class="card-body">
                            <h5 class="font-weight-bold">6. Product page</h5>
                            <div class="d-flex justify-content-between">
                                <div><span>1st page</span><span class="d-block font-weight-bold">60%</span></div>
                                <div><span>2nd page</span><span class="d-block font-weight-bold">40%</span></div>
                                <div><span>3rd page</span><span class="d-block font-weight-bold">40%</span></div>
                            </div>
                        </div><!-- end card body -->
                        <div class="card-footer">
                            <p>No actionable reccomendations</p>
                        </div>
                    </div><!-- end card -->
                </div><!-- end col -->
            </div>
        </transition>
    </div>
</template>


<script>
    export default {
        name: 'contentComparison',
        components: {
            // ComponentHere,
        },
        props: {
            pages: String
        },
        data: () => ({
            doingAxios: false,
        }),
        methods: {
            doAxios() {
                this.doingAxios = true;
            }
        }
    }
</script>

<style lang="scss" scoped>
    .card{
      .card-body{}
    }
</style>
