<template>
    <div>
        <h4 class="mb-3">Grammar and language</h4>
        <h5 class="d-block mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h5>
    </div>
</template>

<script>
    export default {
        name: 'grammarLanguage',
        components: {
            // ComponentHere,
        },
        props: {
            pages: String
        },
        data: () => ({
            doingAxios: false,
        }),
        methods: {
            doAxios() {
                this.doingAxios = true;
            }
        }
    }
</script>

<style lang="scss" scoped>
    .card{
        .card-body{}
    }
</style>
