<template>
    <div>
        <div class="row">
            <div class="col-12 col-lg-3">
                <div class="sidebar kw-tree">
                    <transition name="kwTreeAnim" enter-active-class="animated faster bounceIn" mode="out-in">
                        <div v-if="treeAxios" class="text-center text-grey">
                            <i class="fa fa-spinner fa-spin mt-3 mt-lg-5" style="font-size: 1.2rem;"></i>
                            <p class="mb-0 mt-2">Loading</p>
                        </div>
                        <div class="card shadow-md" v-else>
                            <div class="card-body p-0">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item list-group-item-action" v-for="(lv1data, lv1String) in kwTreeData">
                                        <button v-bind:class="{'open': lv1Kw == lv1String}" @click="getKwData(lv1String)">
                                            <i class="fa" v-bind:class="{'fa-angle-down': lv1Kw == lv1String, 'fa-angle-right' : lv1Kw != lv1String}" @click="toggleKwTree(lv1String, 'false')"></i>
                                            <span class="string">{{lv1String}}</span>
                                            <span class="count">{{lv1data.count}}</span>
                                        </button>
                                        <transition name="lv2KwAnim" enter-active-class="animated faster fadeInDownSmall" mode="out-in">
                                            <ul class="submenu" v-if="lv1Kw == lv1String">
                                                <li class="list-group-item list-group-item-action" v-for="(lv2data, lv2String) in lv1data.items">
                                                    <button v-bind:class="{'open': lv2Kw == lv2String}" @click="getKwData(lv1String + ',' + lv2String)">
                                                        <i class="fa" v-bind:class="{'fa-angle-down': lv2Kw == lv2String, 'fa-angle-right' : lv2Kw != lv2String}" @click="toggleKwTree(lv1String, lv2String)"></i>
                                                        <span class="string">{{lv2String}}</span>
                                                        <span class="count">{{lv2data.count}}</span>
                                                    </button>
                                                    <transition name="lv3KwAnim" enter-active-class="animated faster fadeInDownSmall" mode="out-in">
                                                        <ul class="super-submenu" v-if="lv2Kw == lv2String">
                                                            <li class="list-group-item list-group-item-action" v-for="(lv3data, lv3String) in lv2data.items">
                                                                <button @click="getKwData(lv1String + ',' + lv2String + ',' + lv3String)">
                                                                    <span class="string">{{lv3String}}</span>
                                                                    <span class="count">{{lv3data.count}}</span>
                                                                </button>
                                                            </li>
                                                        </ul>
                                                    </transition>
                                                </li>
                                            </ul>
                                        </transition>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </transition>
                </div><!-- end kw tree sidebar -->
            </div><!-- end col -->
            <div class="col-12 col-lg-9">
                <transition enter-active-class="animated faster fadeInDownSmall" mode="out-in">
                    <div v-if="doingAxios" class="text-center text-grey">
                        <i class="fa fa-spinner fa-spin mt-3 mt-lg-5" style="font-size: 1.2rem;"></i>
                        <p class="mb-0 mt-2">Loading</p>
                    </div>
                    <div v-else-if="kwData.length > 0">
                        <div class="pagination justify-content-end d-flex align-items-center mb-3">
                            <span class="mr-3 small font-weight-bold text-grey">Showing {{((pagination.page - 1) * 100)}} - {{((pagination.page - 1) * 100) + pagination.results_on_page}} of {{pagination.total_results}} results</span>
                            <button class="btn btn-sm btn-outline-grey shadow-sm" style="background-color: #fff;border-radius: 4px;" @click="movePage('down')"><i class="fa fa-chevron-left"></i></button>
                            <button class="btn btn-sm btn-outline-grey shadow-sm ml-1" style="background-color: #fff;border-radius: 4px;" @click="movePage('up')"><i class="fa fa-chevron-right"></i></button>
                        </div>
                        <div class="card shadow-sm">
                            <div class="card-body p-0">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Keyword</th>
                                        <th>Volume</th>
                                        <th>Trend</th>
                                        <th>CPC</th>
                                        <th>Competition</th>
                                        <th>Intent</th>
                                        <th>Google cat</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(kw, kwIndex) in kwData">
                                        <td>{{kw.keyword}}</td>
                                        <td>{{kw.search_volume}}</td>
                                        <!--<td>{{kw.history}}</td>-->
                                        <td>Sparkline here</td>
                                        <td>{{kw.cpc}}</td>
                                        <td>{{kw.competition}}</td>
                                        <td>{{kw.intent}}</td>
                                        <td>{{kw.category}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div><!-- end card -->
                        <div class="pagination justify-content-end d-flex align-items-center my-3 my-xl-4">
                            <span class="mr-3 small font-weight-bold text-grey">Showing {{((pagination.page - 1) * 100)}} - {{((pagination.page - 1) * 100) + pagination.results_on_page}} of {{pagination.total_results}} results</span>
                            <button class="btn btn-sm btn-outline-grey shadow-sm" style="background-color: #fff;border-radius: 4px;" @click="movePage('down')"><i class="fa fa-chevron-left"></i></button>
                            <button class="btn btn-sm btn-outline-grey shadow-sm ml-1" style="background-color: #fff;border-radius: 4px;" @click="movePage('up')"><i class="fa fa-chevron-right"></i></button>
                        </div>
                    </div>
                    <div class="card shadow-sm" v-else>
                        <div class="card-body">
                            <p class="lead m-0">No results found. Please select a new keyword category.</p>
                        </div>
                    </div><!-- end card -->
                </transition>
            </div><!-- end col -->
        </div><!-- end row -->
    </div>
</template>

<script>
    import Modal from "../modal";
    import axios from 'axios'
    export default {
        name: 'KwResearch',
        components: {
            Modal
        },
        props: {
            pages: String
        },
        mounted(){
            this.getKwTree();
        },
        data: () => ({
            treeAxios: false,
            doingAxios: false,
            kwData: [],
            kwTreeData: [],
            paged: 1,
            pagination: {
                page: 3,
                total_results: 3,
                results_on_page: 3,
            },
            lv1Kw: 'false',
            lv2Kw: 'false',
        }),
        methods: {
            getKwTree() {
                this.treeAxios = true;
                axios.post('analysis/keywords/categories/', {workspace_slug: this.$route.params.workspaceslug, project_slug: this.$route.params.projectslug})
                    .then(response => {
                        this.kwTreeData = response.data.data;
                        this.treeAxios = false;
                    })
                    .catch(e => {
                        console.log(e.response.data.data);
                    })
            },
            toggleKwTree(lv1String, lv2String){
                if(lv1String == this.lv1Kw && lv2String == 'false'){
                    this.lv1Kw = 'false';
                } else {
                    this.lv1Kw = lv1String;
                }
                if(lv2String == this.lv2Kw){
                    this.lv2Kw = 'false';
                } else {
                    this.lv2Kw = lv2String;
                }
            },
            getKwData(kwString) {
                this.doingAxios = true;
                axios.post('analysis/keywords/data/', {workspace_slug: this.$route.params.workspaceslug, project_slug: this.$route.params.projectslug, keyword_string: kwString})
                    .then(response => {
                        this.kwData = response.data.data;
                        this.doingAxios = false;
                    })
                    .catch(e => {
                        console.log(e.response.data.data);
                    })

            },
            movePage(action){
                if(action == 'down'){
                    if(this.paged > 1){
                        this.paged--;
                        this.getKwData();
                    }
                } else {
                    if(this.paged < 8) {
                        this.paged++;
                        this.getKwData();
                    }
                }
            },
        }
    }
</script>

<style lang="scss" scoped>
    .sidebar.kw-tree{
        position: sticky;top:2rem;
        .card{
            border-radius: 12px;max-height: 65vh;overflow: scroll;
            .list-group-item{
                padding: 0;
                background-color: transparent;
                border: none!important;
                button{cursor: pointer;width: 100%;background-color: transparent;border: none;outline: none;text-align: left;padding: .5rem .75rem;}
                button.open{background-color: rgba(236, 237, 255, 0.73);color: #3a63d8;font-weight: 600;}
                i.fa{margin-right: 0.5rem;width: 24px;height: 24px;text-align: center;display: inline-block;border-radius: 8px;}
                i.fa:hover,
                i.fa:focus{color: #3a63d8;background-color: rgba(0,0,0,.1);}
                i.fa.fa-angle-down{color: #3a63d8;}
                span.string{}
                span.count{float: right;display: inline-block;font-size: .7rem;font-weight: 600;background-color: #d9eaff;color: #777a94;border-radius: 4px;padding: .1rem .25rem;margin-top: 1px;}
            }
            ul.submenu{padding-left: 15px;
                .list-group-item{
                    button{border-left: 2px solid rgba(0,20,50,.1);}
                    span.count{background-color: #e6f1ff;}
                }
            }
            ul.super-submenu{padding-left: 15px;}
        }
    }
</style>
