<template>
    <aside class="sidebar medium">
        <div class="inner">
            <div class="sb-group px-3 px-md-4 pt-3 pt-md-4 pb-3 sticky-top bg-white shadow-md">
                <button class="close" @click="closeSidebar"><i class="fa fa-times"></i></button>
                <h4 class="font-weight-bold">Your project keywords</h4>
                <p>Current keyword: {{getCurrentKw}}</p>
            </div>
            <div class="sb-group keywords px-3 px-md-4 pt-3 pt-xl-4 pb-4">
                <table class="table table-striped keywords" cellspacing="2">
                    <thead style="position: sticky;top: 200px;left: 0;width: 100%">
                    <tr>
                        <th>Keyword</th>
                        <th></th>
                    </tr>
                    </thead>
                    <transition-group name="skwanim" enter-active-class="animated faster fadeInLeftSmall" leave-active-class="animated faster fadeOutLeft" tag="tbody">
                        <tr v-for="(keyword, index) in keywords" v-bind:key="'projKw'+index" @click="setProjectKw(index)">
                            <td>{{keyword.keyword}}</td>
                            <td width="100px" class="text-right">
                                <button class="btn btn-sm btn-success" v-if="getCurrentKw == keyword.keyword">Active</button>
                                <button class="btn btn-sm btn-primary" v-else>Explore</button>
                            </td>
                        </tr>
                    </transition-group>
                </table>
            </div><!-- end sb group -->
            <div class="sb-group footer d-flex justify-content-between p-3 p-md-4">
                <button class="btn btn-outline-warning solidify trans" @click="closeSidebar">Exit</button>
            </div><!-- end sb group -->
        </div>
    </aside>
</template>

<script>
    import {bus} from '@/main';
    export default {
        name: 'KwSidebar',
        props: {
            title: String,
            keywords: Array
        },
        computed: {
            getCurrentKw(){
                return this.$store.state.projectKw;
            },
        },
        methods: {
            closeSidebar() {
                this.$emit('sidebarClose');
            },
            setProjectKw(index){
                this.$store.commit('setProjectKw', this.keywords[index].keyword);
                bus.$emit('updateFocusKw');
                setTimeout(function(){
                    this.$emit('sidebarClose');
                }.bind(this), 100);
            }
        }
    }
</script>

<style scoped lang="scss">
    #myElement{}
</style>
