<template>
    <div>
        <Modal v-if="showModal" @close="showModal = false">
            <span slot="header">
                <h5 class="m-0">SERP results using phrase: <b>{{modalTitle}}</b></h5>
            </span>
            <span slot="body">
                <ul class="list-group list-group-flush coverage-sites">
                    <li class="list-group-item list-group-item-action p-3 p-md-3" v-for="(kwsite, siteUrl) in kwCoverage">
                        <span class="position">{{kwsite.google_position}}</span>
                        <span>{{siteUrl}}</span>
                        <a :href="siteUrl" class="text-grey float-right" target="_blank"><i class="fa fa-external-link-square"></i></a>
                    </li>
                </ul>
            </span>
        </Modal>
        <div v-if="doingAxios" class="text-center text-grey">
            <i class="fa fa-spinner fa-spin mt-3 mt-lg-5" style="font-size: 1.2rem;"></i>
            <p class="mb-0 mt-2">Loading</p>
        </div>
        <div v-else>
            <div class="pagination justify-content-end d-flex align-items-center mb-3">
                <span class="mr-3 small font-weight-bold text-grey">Showing {{((pagination.page - 1) * 100)}} - {{((pagination.page - 1) * 100) + pagination.results_on_page}} of {{pagination.total_results}} results</span>
                <button class="btn btn-sm btn-outline-grey shadow-sm" style="background-color: #fff;border-radius: 4px;" @click="movePage('down')" :class="{'disabled':(pagination.page <= 1)}"><i class="fa fa-chevron-left"></i></button>
                <button class="btn btn-sm btn-outline-grey shadow-sm ml-1" style="background-color: #fff;border-radius: 4px;" @click="movePage('up')" :class="{'disabled':(pagination.page >= pagination.max_pages)}"><i class="fa fa-chevron-right"></i></button>
            </div>
            <transition-group enter-active-class="animated faster fadeInDownSmall" mode="out-in">
                <div class="card phrase-report shadow-sm" key="thead">
                    <div class="card-body p-0">
                        <div class="row no-gutters">
                            <div class="col-12 col-lg-3 col-xl-4"><span class="d-block p-2 p-xl-3"><h5 class="font-weight-bold mt-1 mb-0"></h5></span></div><!-- end col -->
                            <div class="col"><div class="stat p-2 p-xl-3"><label>Impact</label></div></div><!-- end col -->
                            <div class="col"><div class="stat p-2 p-xl-3"><label>Sentiment</label></div></div><!-- end col -->
                            <div class="col"><div class="stat p-2 p-xl-3"><label>Coverage</label></div></div><!-- end col -->
                            <div class="col"><div class="stat p-2 p-xl-3"><label>Context</label></div></div><!-- end col -->
                            <div class="col col-lg-auto"><div class="stat p-2 p-xl-3" style="min-width: 124px;"><label>Occurrences</label></div></div><!-- end col -->
                        </div>
                    </div>
                </div><!-- end card -->
                <div class="card phrase-report border-top shadow-sm" v-for="kw in keywords" v-bind:key="kw.id">
                    <div class="card-body p-0">
                        <div class="row no-gutters">
                            <div class="col-12 col-lg-3 col-xl-4"><span class="d-block p-2 p-xl-3" style="overflow: scroll;"><h5 class="font-weight-bold mt-1 mb-0">{{kw.term}}</h5></span></div><!-- end col -->
                            <div class="col"><div class="stat p-2 p-xl-3"><span>{{kw.sentiment.magnitude}}</span></div></div><!-- end col -->
                            <div class="col"><div class="stat p-2 px-xl-3" v-bind:style="{'background-color':sentimentBgColor(kw.sentiment.score)}"><span class="emoji" v-html="sentimentEmoji(kw.sentiment.score)"></span></div></div><!-- end col -->
                            <div class="col"><div class="stat p-2 p-xl-3">
                                <button class="btn btn-sm btn-plain modal-trigger float-right mt-1" @click="showCoverageModal(kw.term, kw.sites)"><i class="fa fa-info-circle"></i></button>
                                <span>{{kw.coverage_percent}}%</span></div>
                            </div><!-- end col -->
                            <div class="col"><div class="stat p-2 p-xl-3"><span style="font-size: .72rem;margin-top: 4px;" class="text-grey">{{kw.context}}</span></div></div><!-- end col -->
                            <div class="col col-lg-auto"><div class="stat p-2 p-xl-2" style="min-width: 124px;"><span>{{kw.occurrences}}</span></div></div><!-- end col -->
                        </div>
                    </div>
                </div><!-- end card -->
            </transition-group>
            <div class="pagination justify-content-end d-flex align-items-center my-3 my-lg-4 mt-xl-5">
                <span class="mr-3 small font-weight-bold text-grey">Showing {{((pagination.page - 1) * 100)}} - {{((pagination.page - 1) * 100) + pagination.results_on_page}} of {{pagination.total_results}} results</span>
                <button class="btn btn-sm btn-outline-grey shadow-sm" style="background-color: #fff;border-radius: 4px;" @click="movePage('down')" :class="{'disabled':(pagination.page <= 1)}"><i class="fa fa-chevron-left"></i></button>
                <button class="btn btn-sm btn-outline-grey shadow-sm ml-1" style="background-color: #fff;border-radius: 4px;" @click="movePage('up')" :class="{'disabled':(pagination.page >= pagination.max_pages)}"><i class="fa fa-chevron-right"></i></button>
            </div>
        </div>
    </div>
</template>

<script>
    import {bus} from '@/main';
    import axios from 'axios';
    import Modal from "../modal";

    export default {
        name: 'salienceReport',
        components: {
            Modal
        },
        props: {
            pages: String
        },
        data: () => ({
            doingAxios: false,
            showModal: false,
            keywords: [],
            pagination: [],
            paged: 1,
            modalTitle: '',
            kwCoverage: [],
        }),
        mounted(){
            if(this.getCurrentKw) {
                this.getSalienceData();
            }
            bus.$on('updateFocusKw', this.updateFocusKw);
        },
        computed: {
            getCurrentKw() {
                return this.$store.state.projectKw;
            }
        },
        methods: {
            showCoverageModal(titleVal, sites){
                this.showModal = true;
                this.modalTitle = titleVal;
                this.kwCoverage = sites;
            },
            getSalienceData(){
                this.doingAxios = true;
                axios.post('analysis/content/salience', {workspace_slug: this.$route.params.workspaceslug, project_slug: this.$route.params.projectslug, keyword: this.getCurrentKw, page: this.paged})
                    .then(response => {
                        this.pagination = response.data.data.pagination;
                        this.keywords = response.data.data.salienceData;
                        this.doingAxios = false;
                    })
                    .catch(e => {
                        console.log(e.response.data.data);
                        this.doingAxios = false;
                    })
            },
            updateFocusKw(){
                this.paged = 1;
                this.getSalienceData();
            },
            movePage(action){
                if(action == 'down'){
                    if(this.paged > 1){
                        this.paged--;
                        this.getSalienceData();
                    }
                } else {
                    if(this.paged < this.pagination.max_pages){
                        this.paged++;
                        this.getSalienceData();
                    }
                }
            },
            sentimentEmoji(score){
                let emoji;
                switch (true) {
                    case (score < -0.5):
                        emoji = '<i class="fal fa-angry"></i>';
                        break;
                    case (score < -0):
                        emoji = '<i class="fal fa-frown"></i>';
                        break;
                    case (score === 0):
                        emoji = '<i class="fal fa-meh"></i>';
                        break;
                    case (score > 0.5):
                        emoji = '<i class="fal fa-smile"></i>';
                        break;
                    case (score > 0):
                        emoji = '<i class="fal fa-grin-beam"></i>';
                        break;
                    default:
                        emoji = '<i class="fal fa-meh-blank"></i>';
                }
                return emoji;
            },
            sentimentBgColor(score){
                let colorTint;
                switch (true) {
                    case (score < -0.5):
                        colorTint = '#ffe9e9';
                        break;
                    case (score < -0):
                        colorTint = '#fff4da87';
                        break;
                    case (score === 0):
                        colorTint = 'transparent';
                        break;
                    case (score > 0.5):
                        colorTint = '#e9f5e794';
                        break;
                    case (score > 0):
                        colorTint = '#e9f5e7';
                        break;
                    default:
                        colorTint = 'transparent';
                }
                return colorTint;
            }
        }
    }
</script>

<style lang="scss" scoped>
    .card.phrase-report{
        h5{font-size: 1rem;}
        button.modal-trigger{cursor: pointer;}
        button.modal-trigger:hover{color: #3a63d8;}
        .stat{
            border-left: 1px solid rgba(0,0,0,.1);height: 100%;
            label{display: block;font-weight: 700;font-size: .72rem;margin: 0;padding: 0;line-height: 1;color: #a9b7c7;}
            span{display: block;font-weight: 600;}
            span.emoji{font-size: 1.4rem;}
        }
    }
    ul.coverage-sites{
        li{
            span.position{background-color: #dde3f3;color: #313140;border-radius: 50%;width: 24px;height: 24px;display: inline-block;text-align: center;line-height: 24px;margin-right: .5rem;font-size: .7rem;}
        }
    }
    .pagination{
        button.disabled{opacity: .4;}
    }
</style>
