<template>
    <transition name="pageAnim" enter-active-class="animated faster fadeIn" mode="out-in">
        <div id="wsp-single" v-if="pageLoaded">
            <div class="container py-2 py-md-3 py-lg-4">
                <pageHeading v-bind:title="pageTitle" v-bind:subtitle="pageSub" v-bind:expanded="headingExpanded" v-bind:breadCrumbs="pageCrumbs"></pageHeading>

                <transition name="stepsAnim" enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
                    <div class="alert alert-danger" v-if="projectStatus === 0">
                        Generating your seed keywords and site snapshot. Please come back later.
                    </div><!-- end alert -->
                    <div class="row" v-else-if="projectStatus === 1">
                        <div class="col-12 col-sm-6 col-md-7 col-l-7">
                            <div class="card shadow-sm h-100">
                                <div class="card-body">
                                    <span class="float-right text-grey font-weight-bold">{{chosenKeywords.length}}/10 selected</span>
                                    <h4>Select your focus keywords</h4>
                                    <h6 class="text-uppercase small font-weight-bold text-grey" style="letter-spacing: 1px;">{{(chosenKeywords.length < 3) ? 'At least 3 to get started' : 'Good to go'}}</h6>
                                    <div class="progress-bar my-3" v-bind:class="{'progress-danger':chosenKeywords.length < 3, 'progress-success':chosenKeywords.length >= 3}"><span class="bar trans slow" style="min-width: 2%;" v-bind:style="{ width: (chosenKeywords.length * 10) + '%' }" v-bind:class="{'w-100':keywordsComplete}"></span></div>
                                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid animi assumenda earum.</p>
                                    <button class="btn btn-secondary disabled mr-2 mr-xl-3" v-if="keywordsComplete">Completed <i class="fa fa-check"></i></button>
                                    <button class="btn solidify trans" v-bind:class="{'btn-primary': !keywordMode, 'btn-primary disabled': keywordMode}" @click="toggleKeywordMode">Configure keywords</button>
                                    <button class="btn btn-success ml-2 ml-xl-3" v-bind:class="{'disabled': keywordMode}" v-if="chosenKeywords.length > 2 && !analysisComplete" @click="startKwAnalysis">Analyze all keywords <i class="fa fa-arrow-right"></i></button>
                                </div>
                            </div>
                        </div><!-- end col -->
                        <div class="col-12 col-sm-6 col-md-5 col-lg-5">
                            <TipCard title="Keyword tip!" subtitle="Choosing the right keywords" body="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque delectus deleniti eum placeat! Ad cum esse eveniet facere fuga hic illo in optio. Accusantium culpa distinctio modi officia repellendus voluptate."></TipCard>
                        </div><!-- end col -->
                        <div class="col-12">
                            <hr class="my-lg-4">
                        </div><!-- end col -->
                        <div class="col-12">
                            <transition name="mainStageAnim" enter-active-class="animated fadeInDownSmall" leave-active-class="animated faster fadeOut" mode="out-in">
                                <div class="kw-list" v-if="chosenKeywords.length > 0">
                                    <div class="d-block text-right mb-2">
                                        <div class="view-toggle">
                                            <button class="btn btn-plain text-focus-primary" @click="columnView = false"><i class="fa fa-list d-inline-block"></i></button>
                                            <button class="btn btn-plain text-focus-primary" @click="columnView = true"><i class="fa fa-columns d-inline-block ml-2"></i></button>
                                        </div>
                                    </div>
                                    <transition-group name="kwListAnim" enter-active-class="animated fadeInDownSmall" leave-active-class="animated fastest fadeOutUpSmall" mode="in-out" v-bind:class="{'row colView': columnView}">
                                        <div v-bind:class="{'col-md': columnView}" v-for="(keyword, index) in chosenKeywords" v-bind:key="'kw'+keyword.id">
                                            <KeywordCard :kwData="keyword" :editable="keywordMode" :kwIndex="index" @killKw="removeProjKw(index)" :workspaceslug="wspslug" :projectslug="projslug"></KeywordCard>
                                        </div>
                                    </transition-group>
                                </div><!-- end kw list group -->
                                <div class="kw-placeholder shadow-md mb-3 mb-xl-4" v-else-if="projectStatus === 0">
                                    <span>Your keywords will appear here</span>
                                </div>
                            </transition>
                        </div>
                    </div><!-- end row -->
                    <div class="alert alert-success" v-else>
                        <h6 class="m-0">Project status: {{projectStatus}} - KW analysis in in progress or complete</h6>
                    </div>
                </transition>
            </div><!-- end container -->
            <transition name="dsb-transition"
                        enter-active-class="animated faster slideInRight"
                        leave-active-class="animated faster fadeOutRight">
                <keep-alive v-if="keywordMode">
                    <KeywordSidebar @sidebarClose="toggleKeywordMode" :seeds="projectSeeds" ref="kwsb" @addKw="addKwToProject" :selectedCount="this.chosenKeywords.length"></KeywordSidebar>
                </keep-alive>
            </transition>
        </div>
    </transition>
</template>

<script>
    // @ is an alias to /src
    import axios from 'axios';
    import PageHeading from '@/components/PageHeading.vue';
    import KeywordCard from '@/components/KeywordCard.vue';
    import KeywordSidebar from '@/components/KeywordSidebar.vue';
    import {bus} from '@/main';
    import TipCard from "../../components/TipCard";

    export default {
        name: 'single-workspace',
        components: {
            TipCard,
            PageHeading,
            KeywordCard,
            KeywordSidebar,
        },
        data: () => ({
            pageLoaded: true,
            wspslug: '',
            projslug: '',
            pageTitle: 'Loading',
            pageSub: '--',
            headingExpanded: true,
            columnView: false,
            projectStatus: 1,
            projectSeeds: [],
            keywordMode: false,
            keywordsComplete: false,
            activeKeyword: null,
            analysisMode: false,
            analysisComplete: false,
            projectReady: false,
            focusKeywords: [],
            chosenKeywords: [],
            pageCrumbs: [
                {
                    title: 'Dashboard',
                    disabled: false,
                    href: '/'
                },
                {
                    title: 'Workspaces',
                    disabled: false,
                    href: '/workspaces'
                },
            ],
            researchedKeywords: [{
                    keyword:'test',
                    volume:'test',
                    visits:'test',
                    url:'test',
                    difficulty:'test',
                },
                {
                    keyword:'anotherkeyword',
                    volume:'24',
                    visits:'test',
                    url:'test',
                    difficulty:'test',
                },
                {
                    keyword:'test',
                    volume:'test',
                    visits:'test',
                    url:'test',
                    difficulty:'test',
                },
                {
                    keyword:'anotherkeyword',
                    volume:'24',
                    visits:'test',
                    url:'test',
                    difficulty:'test',
                },
                {
                    keyword:'test',
                    volume:'test',
                    visits:'test',
                    url:'test',
                    difficulty:'test',
                },
                {
                    keyword:'anotherkeyword',
                    volume:'24',
                    visits:'test',
                    url:'test',
                    difficulty:'test',
                }
            ],
        }),
        computed: {
            pageSlug() {
                return this.$route.params.workspaceslug
            },
        },
        mounted() {
            this.fetchProjectData();
            this.$store.commit('toggleDataMenu', false);
        },
        methods: {
            toggleKeywordMode() {
                this.keywordMode = !this.keywordMode;
                this.$store.commit('toggleDataMenu');
            },
            addKwToProject(KwData){
                this.chosenKeywords.unshift(KwData);
            },
            removeProjKw(KwIndex){
                this.$refs.kwsb.returnKwToList(this.chosenKeywords[KwIndex]);
                this.chosenKeywords.splice(KwIndex, 1);
            },
            startKwAnalysis(){
                console.log('Processing: ALL KEYWORDS');
                console.log(this.workspaceslug);
                console.log(this.projectslug);
                axios.post('projects/analysis/create', {workspace_slug: this.$route.params.workspaceslug, project_slug: this.$route.params.projectslug, keywords: this.chosenKeywords})
                    .then(response => {
                        console.log(response.data);
                    })
                    .catch(e => {
                        console.log(e.response.data.data);
                    })
            },
            fetchProjectData() {
                axios.post('projects/single', {workspace_slug: this.$route.params.workspaceslug, project_slug: this.$route.params.projectslug})
                    .then(response => {
                        let newBreadCrumb =
                            {
                                title: response.data.data.workspace.name,
                                disabled: false,
                                href: '/workspaces/'+response.data.data.workspace.slug
                            }
                        this.wspslug = response.data.data.workspace.slug;
                        this.projectSeeds = response.data.data.project_keywords;
                        // this.projectStatus = response.data.data.status;
                        this.pageTitle = response.data.data.workspace.name;
                        this.pageSub = response.data.data.project_name;
                        this.projslug = response.data.data.project_slug;
                        if(response.data.data.status >= 2) {
                            this.chosenKeywords = response.data.data.focus_keywords;
                        }
                        this.pageCrumbs.push(newBreadCrumb);
                        let newBreadCrumb2 =
                            {
                                title: response.data.data.project_name,
                                disabled: true,
                                href: '#'
                            }
                        this.pageCrumbs.push(newBreadCrumb2);
                    })
                    .catch(e => {
                        console.log(e.response);
                    })
            }
        }
    }
</script>

<style lang="scss" scoped>
    .kw-placeholder{
        background-color: #fbfcfe;border-radius: 4px;height: 140px;width: 100%;display: flex;align-items: center;text-align: center;justify-content: center;font-size: 1.4rem;color: #a9b7c7;border: 2px dashed #d8dcec;
    }
    .card.card-stat{
        span.heading{display: block;font-size: .8rem;font-weight: 600;}
        span.value{}
    }
    .colView .card.keyword{min-width: 340px;}
</style>