<template>
    <transition name="pageAnim" enter-active-class="animated faster fadeIn" mode="out-in">
        <div id="about" v-if="pageLoaded" class="page-wrapper">
            <aside class="sidebar clear">
                <div class="inner">
                    <div class="sb-group p-2 p-md-3 p-lg-4">
                        <p class="font-weight-bold mb-3 mb-lg-4" style="font-size: 1.2rem;" @click="activeDash = false">Tools</p>
                        <ul class="menu">
                            <li><button @click="subMenuOpen = !subMenuOpen">Content <i class="fa" :class="{'fa-angle-up':subMenuOpen, 'fa-angle-down':!subMenuOpen}"></i></button>
                                <transition name="submenu-anim" enter-active-class="animated faster fadeInDownSmall" keave-active-class="animated faster fadeOutUpSmall" mode="out-in">
                                    <ul class="submenu" v-if="subMenuOpen">
                                        <li><a @click="activeDash = 'salience'" v-bind:class="{'active':activeDash == 'salience'}">Salience</a></li>
                                        <li><a @click="activeDash = 'comparison'" v-bind:class="{'active':activeDash == 'comparison'}">Content comparison</a></li>
                                        <li><a @click="activeDash = 'grammar'" v-bind:class="{'active':activeDash == 'grammar'}">Grammar &amp; Language</a></li>
                                    </ul>
                                </transition>
                            </li>
                            <li><router-link to="/">Links</router-link></li>
                            <li><router-link to="/">Page speed</router-link></li>
                            <li><a @click="activeDash = 'research'" v-bind:class="{'active':activeDash == 'research'}">Keyword Research</a></li>
                        </ul>
                    </div>
                </div>
            </aside>
            <div class="container py-2 py-md-3 py-lg-4">
                <pageHeading v-bind:title="KwAsPageTitle" v-bind:subtitle="dashboardSubtitle" v-bind:expanded="headingExpanded" v-bind:breadCrumbs="pageCrumbs">
                    <button class="btn btn-outline-primary solidify shadow-sm trans" @click="toggleSidebar" v-bind:class="{'disabled': sideBarOpen}">Change keyword</button>
                </pageHeading>
                <transition name="dashAnim" enter-active-class="animated faster fadeInDownSmall">
                    <div class="card shadow-md" v-if="!getCurrentKw">
                        <div class="card-body p-3 p-md-4 p-xl-5">
                            <h3 class="m-0">Please select a keyword to analyse <i class="fa fa-arrow-right ml-3"></i> </h3>
                        </div>
                    </div>
                    <div v-else-if="!activeDash">
                        <div class="row">
                            <div class="col-6 col-md-4">
                                <div class="card pull-up tool-select shadow-sm trans mb-3 mb-xl-4" @click="activeDash = 'salience'">
                                    <div class="card-body p-xl-4 d-flex align-items-center justify-content-between">
                                        <h4>Salience report</h4>
                                        <i class="fa fa-arrow-circle-right" style="font-size: 1.4rem;"></i>
                                    </div>
                                </div>
                            </div><!-- end col -->
                            <div class="col-6 col-md-4">
                                <div class="card pull-up tool-select shadow-sm trans mb-3 mb-xl-4" @click="activeDash = 'comparison'">
                                    <div class="card-body p-xl-4 d-flex align-items-center justify-content-between">
                                        <h4>Content comparison</h4>
                                        <i class="fa fa-arrow-circle-right" style="font-size: 1.4rem;"></i>
                                    </div>
                                </div>
                            </div><!-- end col -->
                            <div class="col-6 col-md-4">
                                <div class="card pull-up tool-select shadow-sm trans mb-3 mb-xl-4" @click="activeDash = 'grammar'">
                                    <div class="card-body p-xl-4 d-flex align-items-center justify-content-between">
                                        <h4>Grammar &amp; language</h4>
                                        <i class="fa fa-arrow-circle-right" style="font-size: 1.4rem;"></i>
                                    </div>
                                </div>
                            </div><!-- end col -->
                            <div class="col-6 col-md-4">
                                <div class="card pull-up tool-select shadow-sm trans mb-3 mb-xl-4" @click="activeDash = false">
                                    <div class="card-body p-xl-4 d-flex align-items-center justify-content-between">
                                        <h4>Links &amp; domain authority</h4>
                                        <i class="fa fa-arrow-circle-right" style="font-size: 1.4rem;"></i>
                                    </div>
                                </div>
                            </div><!-- end col -->
                            <div class="col-6 col-md-4">
                                <div class="card pull-up tool-select shadow-sm trans mb-3 mb-xl-4" @click="activeDash = false">
                                    <div class="card-body p-xl-4 d-flex align-items-center justify-content-between">
                                        <h4>Page speed</h4>
                                        <i class="fa fa-arrow-circle-right" style="font-size: 1.4rem;"></i>
                                    </div>
                                </div>
                            </div><!-- end col -->
                            <div class="col-6 col-md-4">
                                <div class="card pull-up tool-select shadow-sm trans mb-3 mb-xl-4" @click="activeDash = 'research'">
                                    <div class="card-body p-xl-4 d-flex align-items-center justify-content-between">
                                        <h4>Keyword research</h4>
                                        <i class="fa fa-arrow-circle-right" style="font-size: 1.4rem;"></i>
                                    </div>
                                </div>
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end tools nav -->
                    <salienceReport v-else-if="activeDash == 'salience'"></salienceReport>
                    <contentComparison v-else-if="activeDash == 'comparison'"></contentComparison>
                    <grammarLanguage v-else-if="activeDash == 'grammar'"></grammarLanguage>
                    <KwResearch v-else-if="activeDash == 'research'"></KwResearch>
                </transition>
            </div>
            <transition name="sidebarAnim" enter-active-class="animated faster slideInRight" leave-active-class="animated faster fadeOutRight">
                <KwSidebar :keywords="projectKws" @sidebarClose="toggleSidebar" v-if="sideBarOpen"></KwSidebar>
            </transition>
        </div>
    </transition>
</template>

<script>
    import axios from 'axios';
    import PageHeading from '@/components/PageHeading.vue';
    import SalienceReport from "../../components/project/salience-report";
    import ContentComparison from "../../components/project/content-comparison";
    import GrammarLanguage from "../../components/project/grammar-language";
    import KwResearch from "../../components/project/kw-research";
    import KwSidebar from "../../components/project/kwSidebar";

    export default {
        name: 'Analysis',
        components: {
            KwSidebar,
            KwResearch,
            GrammarLanguage,
            ContentComparison,
            SalienceReport,
            PageHeading,
        },
        data: () => ({
            pageLoaded: true,
            headingExpanded: true,
            activeDash: false,
            projectKws: [],
            sideBarOpen: false,
            workspaces: {},
            pageCrumbs: [
                {
                    title: 'Dashboard',
                    disabled: false,
                    href: '/'
                },
                {
                    title: 'Workspaces',
                    disabled: false,
                    href: '/workspaces'
                }
            ],
        }),
        beforeMount() {
            this.fetchProjectData();
            if(!this.getCurrentKw){
                this.toggleSidebar();
            }
        },
        methods: {
            toggleSidebar() {
                this.sideBarOpen = !this.sideBarOpen;
                this.$store.commit('toggleDataMenu');
            },
            fetchProjectData() {
                axios.post('projects/single', {workspace_slug: this.$route.params.workspaceslug, project_slug: this.$route.params.projectslug})
                    .then(response => {

                        let newBreadCrumb =
                            {
                                title: response.data.data.workspace.name,
                                disabled: false,
                                href: '/workspaces/'+response.data.data.workspace.slug
                            }
                        this.pageCrumbs.push(newBreadCrumb);

                        let newBreadCrumb2 =
                            {
                                title: response.data.data.project_name,
                                disabled: false,
                                href: '/workspaces/'+response.data.data.workspace.slug + '/projects/' + response.data.data.project_slug
                            }
                        this.pageCrumbs.push(newBreadCrumb2);

                        let newBreadCrumb3 =
                            {
                                title: "Analysis",
                                disabled: true,
                                href: '#'
                            }
                        this.pageCrumbs.push(newBreadCrumb3);
                        if(response.data.data.status !== 3){
                            this.$router.push('/workspaces/'+response.data.data.workspace.slug + '/projects/' + response.data.data.project_slug + '/kwconfig')
                        }

                        this.projectKws = response.data.data.focus_keywords;

                        this.pageLoaded = true;
                    })
                    .catch(e => {
                        console.log(e.response.data.data);
                    })
            },
        },
        computed: {
            subMenuOpen(){
                return true;
            },
            getCurrentKw(){
                return this.$store.state.projectKw;
            },
            KwAsPageTitle(){
                if(this.$store.state.projectKw){
                    return '"' + this.$store.state.projectKw + '"';
                } else {
                    return 'No keyword selected';
                }
            },
            dashboardSubtitle(){
                let subtitle;
                switch (this.activeDash) {
                    case 'salience':
                        subtitle =  'Salience Report';
                        break;
                    case 'comparison':
                        subtitle = 'Content Comparison';
                        break;
                    case 'grammar':
                        subtitle = 'Grammar and Language';
                        break;
                    case 'domain':
                        subtitle = 'Links and Domain authority';
                        break;
                    case 'speed':
                        subtitle = 'Page Speed';
                        break;
                    case 'research':
                        subtitle = 'Keyword Research';
                        break;
                    default:
                        subtitle = 'Keyword Research';
                }
                return subtitle;
            }
        },
    }
</script>

<style lang="scss" scoped>
    $sidebarWidth: 180px;
    $sidebarWidthMd: 200px;
    $sidebarWidthLg: 220px;
    $sidebarWidthXl: 240px;
    .page-wrapper{padding-left: $sidebarWidth;}
    aside.sidebar{width: $sidebarWidth;
        ul.menu a{display: block;cursor: pointer;}
        ul.menu a.active{color: #3a63d8;}
    }
    aside.sidebar.clear{background-color: transparent;}

    .card.tool-select{
        cursor: pointer;
    }
    .card.tool-select:hover{
        h4{color: #3a63d8;}
    }

    @media (min-width: 992px) {
        .page-wrapper{padding-left: $sidebarWidthMd;}
        aside.sidebar{width: $sidebarWidthMd;}
    }

    @media (min-width: 1200px) {
        .page-wrapper{padding-left: $sidebarWidthLg;}
        aside.sidebar{width: $sidebarWidthLg;}
    }

    @media (min-width: 1400px) {
        .page-wrapper{padding-left: $sidebarWidthXl;}
        aside.sidebar{width: $sidebarWidthXl;}
    }
</style>