<template>
  <div class="dashboard">
    <div class="container">
      <Breadcrumbs v-bind:pages="breadCrumbs"></Breadcrumbs>
      <span class="d-flex align-items-center mb-1"><img alt="Vue logo" src="../assets/logo.png" width="32" height="auto" class="mr-2"><h1 class="font-weight-bold m-0">Dashboard</h1></span>
      <p class="lead mb-3 mb-lg-4">Showing data from 3 workspaces.</p>
      <div class="clearfix"></div>
      <div class="clearfix"></div>
    </div>
  </div>
</template>


<script>
    import Breadcrumbs from '@/components/Breadcrumbs.vue';

    export default {
        name: 'home',
        components: {
            Breadcrumbs
        },
        data: () => ({
            breadCrumbs: [
                {
                    title: 'Dashboard',
                    disabled: true,
                    href: '/'
                },
            ]
        }),
        mounted() {
            this.$store.commit('updatePageData', {
                expanded: true,
                title: 'Dashboard',
                subtitle: false,
                breadCrumbs: [
                    {
                        title: 'Dashboard',
                        disabled: false,
                        href: '/'
                    }
                ]
            });
        }
    }
</script>