<template>
    <div class="notfound d-flex justify-content-center align-items-center vh-100 position-absolute w-100" style="top: 0;left: 0;">
        <h3 class="page-title d-block font-weight-bold">Page not found</h3>
    </div>
</template>

<script>
    // @ is an alias to /src
    import axios from 'axios';
    export default {
        name: 'NotFound',
        components: {},
    }
</script>

<style scoped>
    .notfound .page-title{margin-bottom: 4rem;}
    @media (min-height: 900px) {
        .notfound .page-title {
            margin-bottom: 12rem;
        }
    }
</style>
