<template>
    <transition name="pageAnim" enter-active-class="animated faster fadeIn" mode="out-in">
        <div id="wsp-single" v-if="pageLoaded">
            <div class="container py-2 py-md-3 py-lg-4">
                <pageHeading v-bind:title="pageTitle" v-bind:subtitle="pageSub" v-bind:expanded="headingExpanded" v-bind:breadCrumbs="pageCrumbs">
                    <button class="btn btn-primary shadow-sm" @click="EnableCreateNewMode">{{(createNewMode) ? 'Cancel' : 'New project'}}</button>
                </pageHeading>
                <transition enter-active-class="animated faster fadeInDownSmall" mode="out-in">
                    <createProject v-if="createNewMode" v-on:cancelNewProj="ExitCreateNewMode" @projCreated="projectCreated"></createProject>
                    <div class="dash" v-if="!createNewMode">
                        <transition-group name="projCardAnims" enter-active-class="animated faster fadeInDownSmall" tag="div" class="row">
                            <div class="col-12 col-sm-6 col-md-4 col-xl-3 pb-3 pb-lg-4" v-for="project in projects" v-bind:key="'proj'+project.id">
                                <ProjectCard :title="project.project_name" :subtitle="project.project_url" :thumbnail="project.project_image" v-bind:link="'/workspaces/'+pageSlug+'/projects/'+project.project_slug" :status="project.status"></ProjectCard>
                            </div><!-- end col -->
                        </transition-group><!-- end row -->
                    </div>
                </transition>
            </div><!-- end container -->
            <transition name="dataSidebar-transition"
                        enter-active-class="animated faster slideInRight"
                        leave-active-class="animated faster fadeOutRight">
                <aside class="sidebar wide" v-if="isDataMenuOpen">
                    <button class="close" @click="toggleDataMenu"><i class="fa fa-times"></i></button>
                    <div class="sb-group px-3 px-md-4 px-md-5 mt-3 mt-md-4 mt-lg-5">
                        <p class="small text-grey font-weight-bold mb-1">Cluster ID: 7BG8368OGI34KI</p>
                        <h3 class="font-weight-bold">Cluster status</h3>
                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aut blanditiis consequatur culpa dolores ducimus error eveniet expedita harum nesciunt.</p>-->
                    </div><!-- end sb group -->
                    <div class="sb-group px-3 px-md-4 px-md-5 mt-3 mt-md-4">
                        <div class="sb-heading mb-3">
                            <i class="fa fa-chart-pie"></i><h4>Cluster statisics</h4>
                        </div><!-- end heading -->
                        <div class="row form-row">
                            <div class="col-6">
                                <div class="stat-card p-2 p-md-3">
                                    <span class="figure">243,310</span>
                                    <span class="desc">Documents</span>
                                </div>
                            </div><!-- end col -->
                            <div class="col-6">
                                <div class="stat-card p-2 p-md-3">
                                    <span class="figure">560</span>
                                    <span class="desc">Primary size, KB</span>
                                </div>
                            </div><!-- end col -->
                            <div class="col-6">
                                <div class="stat-card p-2 p-md-3">
                                    <span class="figure">243,310</span>
                                    <span class="desc">Documents</span>
                                </div>
                            </div><!-- end col -->
                            <div class="col-6">
                                <div class="stat-card p-2 p-md-3">
                                    <span class="figure">560</span>
                                    <span class="desc">Primary size, KB</span>
                                </div>
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end sb group -->
                    <div class="sb-group px-3 px-md-4 px-md-5 mt-3 mt-md-4">
                        <div class="sb-heading mb-3">
                            <i class="fa fa-plus-square"></i><h4>Cluster health</h4>
                        </div><!-- end heading -->
                        <table class="table w-100">
                            <tr>
                                <td>Status</td>
                                <td class="text-right"><span class="text-success">Active</span></td>
                            </tr>
                            <tr>
                                <td>Timed out</td>
                                <td class="text-right"><span>false</span></td>
                            </tr>
                            <tr>
                                <td># Instances</td>
                                <td class="text-right"><span>7</span></td>
                            </tr>
                            <tr>
                                <td># Databases</td>
                                <td class="text-right"><span>2</span></td>
                            </tr>
                            <tr>
                                <td>Active shards</td>
                                <td class="text-right"><span>107</span></td>
                            </tr>
                        </table>
                    </div><!-- end sb group -->
                </aside>
            </transition>
        </div>
    </transition>
</template>

<script>
    // @ is an alias to /src
    import axios from 'axios';
    import PageHeading from '@/components/PageHeading.vue';
    import createProject from '@/components/createProject.vue';
    import ProjectCard from '@/components/ProjectCard.vue';

    export default {
        name: 'single-workspace',
        components: {
            PageHeading,
            createProject,
            ProjectCard
        },
        data: () => ({
            pageLoaded: false,
            pageTitle: 'Example page',
            pageSub: 'Showing all projects',
            headingExpanded: true,
            projects: [],
            createNewMode: false,
            pageCrumbs: [
                {
                    title: 'Dashboard',
                    disabled: false,
                    href: '/'
                },
                {
                    title: 'Workspaces',
                    disabled: false,
                    href: '/workspaces'
                },
            ],
        }),
        computed: {
            pageSlug() {
              return this.$route.params.workspaceslug
            },
            isDataMenuOpen () {
                return this.$store.state.dataMenuOpen
            },
        },
        mounted() {
            this.fetchWorkspaceData();
        },
        methods: {
            EnableCreateNewMode() {
                this.createNewMode = !this.createNewMode;
            },
            ExitCreateNewMode() {
                this.createNewMode = false;
            },
            toggleDataMenu() {
                this.$store.commit('toggleDataMenu');
            },
            projectCreated(){
                this.createNewMode = false;
                this.fetchWorkspaceData();
            },
            fetchWorkspaceData() {
                console.log('FETCHING WORKSPACE DATA');
                axios.get('workspaces/' + this.$route.params.workspaceslug)
                    .then(response => {
                        console.log(response.data);
                        let newBreadCrumb =
                            {
                                title: response.data.data.name,
                                disabled: true,
                                href: '#'
                            }

                        this.pageTitle = response.data.data.name;
                        this.pageCrumbs.push(newBreadCrumb);
                        this.pageLoaded = true;
                        this.projects = response.data.data.projects;
                    })
                    .catch(e => {
                        console.log(e.response.data.data);
                    })
            }
        }
    }
</script>

<style lang="scss" scoped>
    .card.project{
        .card-body{
            .icon{
                width: 40px;height: 40px;border-radius: 12px;overflow: hidden;
                img{height: 40px;width: auto;}
                &.loading{
                    i.fa{color: #a9b7c7;font-size: 1.6rem;margin-top:2px;}
                }
            }
            h5.card-title{font-size: 1.2rem;}
            p.sub{
                i.fa{font-size: .72rem;margin-right: .1rem;vertical-align: top;}
                color: #9fa7b5;
            }
        }
    }
</style>