<template>
    <transition name="pageAnim" enter-active-class="animated faster fadeIn" mode="out-in">
        <div id="about" v-if="pageLoaded">
            <div class="container py-2 py-md-3 py-lg-4">
                <pageHeading v-bind:title="pageTitle" v-bind:subtitle="pageSub" v-bind:expanded="headingExpanded" v-bind:breadCrumbs="pageCrumbs">
                    <button class="btn btn-primary shadow-sm" @click="EnableCreateNewMode">{{(createNewMode) ? 'Cancel' : 'Create new'}}</button>
                </pageHeading>
                <transition enter-active-class="animated faster fadeInDownSmall" mode="out-in">
                    <transition-group name="workspace-transitions" enter-active-class="animated faster fadeInDownSmall" tag="div" class="row" v-if="!createNewMode">
                        <div class="col-12 col-lg-6 col-xl-4" v-for="(workspace, index) in workspaces" v-bind:key="index">
                            <router-link class="card shadow-sm mb-3 mb-lg-4" :to="'/workspaces/' + workspace.slug">
                                <div class="card-body">
                                    <h5 class="card-title mb-2 mb-lg-3">{{workspace.name}}</h5>
                                    <button type="button" class="btn btn-sm btn-secondary">Explore</button>
                                </div>
                            </router-link>
                        </div><!-- end col -->
                    </transition-group><!-- end row -->
                    <CreateWorkspace v-if="createNewMode" @cancelNewWsp="ExitCreateNewMode" @wspSaved="fetchWorkspaces"></CreateWorkspace>
                </transition>
            </div>
        </div>
    </transition>
</template>

<script>
    import axios from 'axios';
    import PageHeading from '@/components/PageHeading.vue';
    import CreateWorkspace from '@/components/createWorkspace.vue';

    export default {
        name: 'workspaces',
        components: {
            PageHeading,
            CreateWorkspace
        },
        data: () => ({
            pageLoaded: false,
            pageTitle: 'Workspaces',
            pageSub: 'Viewing all workspaces',
            headingExpanded: true,
            workspaces: {},
            createNewMode: false,
            pageCrumbs: [
                {
                    title: 'Dashboard',
                    disabled: false,
                    href: '/'
                },
                {
                    title: 'Workspaces',
                    disabled: false,
                    href: '/workspaces'
                }
            ],
        }),
        methods: {
            EnableCreateNewMode() {
                this.createNewMode = !this.createNewMode;
            },
            ExitCreateNewMode() {
                this.createNewMode = false;
            },
            fetchWorkspaces() {
                axios.get('workspaces/all')
                    .then(response => {
                        console.log(response.data);
                        this.workspaces = response.data.data,
                            this.pageLoaded = true
                    })
                    .catch(e => {
                        this.handleError(e);
                    })
            }
        },
        mounted() {
            this.fetchWorkspaces();
        }
    }
</script>