<template>
    <div class="breadcrumbs trans">
        <transition-group name="bcrumb-transitions" enter-active-class="animated faster fadeIn" tag="ul">
            <li v-for="(page, index) in pages" v-bind:key="index+page.href">
                <router-link :to="page.href" v-if="!page.disabled">{{ page.title }}</router-link>

                <span v-if="page.disabled">{{ page.title }}</span>
            </li>
        </transition-group>
    </div>
</template>

<script>
    export default {
        name: 'Breadcrumbs',
        props: {
            pages: Array
        }
    }
</script>

<style scoped lang="scss">
    .breadcrumbs{
        margin-bottom: .75rem;display: block;
        ul{margin: 0;padding:0;display: flex;align-items: center;}
        ul li{display: inline-block;}
        ul li + li{}
        ul li + li:before{font-family: "Font Awesome 5 Pro";content: '\f178';display: inline-block;margin: 0 .25rem;color: #a9b7c7;font-size: .7rem;}
        ul li span{cursor: default;}
        ul li span,
        ul li a{display: inline-block;color: #a9b7c7;font-weight: 600;}
        ul li a:hover{color: #3a63d8;text-decoration: none;}
    }
</style>
