<template>
    <div class="workspace-create">
        <div class="card shadow-sm mt-3 mt-md-4 mt-xl-5 mx-auto" style="max-width: 520px;">
            <div class="card-body p-3 p-lg-4 p-xl-5">
                <form @submit.prevent="saveWorkspace" @keyup="errMessage = ''" autocomplete="off">
                    <button type="button" class="close" @click="closeCreateWorkspace"><i class="fa fa-times"></i></button>
                    <div class="form-heading mt-2 mt-lg-3 mb-3 mb-lg-4"><h4 class="font-weight-bold">Add a new workspace</h4></div>
                    <fieldset>
                        <div v-for="message in errMessage" class="alert mb-3 alert-danger">{{message[0]}}</div>
                        <div class="row for-row">
                            <div class="col-12">
                                <div class="input-group">
                                    <label>Workspace name</label>
                                    <input class="form-control" id="wsp-name" v-model.trim="workspaceName">
                                </div>
                            </div><!-- end col -->
                        </div><!-- end row -->
                        <input class="form-control" id="wsp-voids" type="hidden">
                    </fieldset>
                    <div class="input-group d-flex justify-content-between flex-row-reverse mt-3 mt-lg-4 mt-xl-5">
                        <button class="btn btn-success" type="button" @click="saveWorkspace">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>


<script>
    import axios from 'axios';

    export default {
        name: 'createWorkspace',
        props: {
            pages: String
        },
        data: () => ({
            doingAxios: false,
            workspaceName: '',
            errMessage: [],
        }),
        methods: {
            saveWorkspace() {
                this.doingAxios = true;
                axios.post('/workspaces/create', {name: this.workspaceName})
                    .then(response => {
                        console.log(response.data);
                        this.doingAxios = false;
                        this.$emit('wspSaved', response.data.data);
                        this.$toasted.success(this.workspaceName + ' created succesfully', {
                            theme: 'toasted-primary',
                            position: "top-right",
                            duration: 10000,
                            icon: {
                                name: 'fa-check',
                                after: true
                            }
                        });
                        this.closeCreateWorkspace();
                        this.workspaceName = '';
                    })
                    .catch(e => {
                        console.log(e.response.data);
                        this.handleError(e);
                        this.doingAxios = false;
                        this.errMessage = e.response.data.data
                    })
            },
            closeCreateWorkspace() {
                this.$emit('cancelNewWsp')
            }
        }
    }

</script>

<style lang="scss" scoped>
    #wsp-single{
        background: pink;
    }
</style>
