<template>
    <div class="breadcrumbs trans">
        <ul>
            <li v-for="page in pages">
                <span class="trans interactive" @click="goToStep(page.id)" v-bind:class="{'highlight':curStep === page.id}" v-if="page.id <= curStep">{{ page.title }}</span>
                <span class="trans" v-if="page.id > curStep">{{ page.title }}</span>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: 'FormBreadcrumbs',
        props: {
            pages: Array,
            curStep: Number
        },
        methods: {
            goToStep(step) {
                this.$emit('stepChange', step)
            }
        }
    }
</script>

<style scoped lang="scss">
    .breadcrumbs{
        margin-bottom: .75rem;display: block;
        ul{margin: 0;padding:0;display: flex;align-items: center;}
        ul li{display: inline-block;}
        ul li + li{}
        ul li + li:before{font-family: "Font Awesome 5 Pro";content: '\f178';display: inline-block;margin: 0 .25rem;color: #a9b7c7;font-size: .7rem;}
        ul li span{display: inline-block;color: #a9b7c7;font-weight: 600;cursor: pointer;}
        ul li span.highlight{color: #3a63d8;}
        ul li span.interactive:hover{color: #3a63d8;text-decoration: none;}
    }
</style>
