<template>
    <div class="card keyword shadow-md mb-2 mb-lg-3 trans">
        <div class="card-header p-3 d-flex align-items-center justify-content-between">
            <h5 class="card-title m-0">{{kwData.keyword}}</h5>
            <button class="btn btn-grey btn-sm text-focus-danger mr-1" v-if="status == 1"><i class="fa fa-spin fa-spinner-third mr-1"></i> Processing</button>
            <button class="btn btn-plain text-focus-danger mr-1" v-else-if="editable && !kwProcessed" @click="removeProjKw"><i class="fa fa-trash-alt"></i></button>
            <router-link :to="'/workspaces/' + workspaceslug + '/projects/' + projectslug + '/analysis'" v-else-if="status >= 2 && !editable"><button class="btn btn-success btn-sm text-focus-danger darken"><i class="fas fa-search"></i></button></router-link>
        </div><!-- end header -->
        <transition name="kw-sitelist-anim" enter-active-class="animated faster fadeInDownSmall" leave-active-class="animated faster fadeOutUpSmall">
            <div class="card-body p-0" v-if="status > 1">
                <div class="site-list">
                    <SiteReportMini title="https://directline.co.uk/pet-insurance"></SiteReportMini>
                    <SiteReportMini title="https://directline.co.uk/pet-insurance"></SiteReportMini>
                    <SiteReportMini title="https://directline.co.uk/pet-insurance"></SiteReportMini>
                    <SiteReportMini title="https://directline.co.uk/pet-insurance"></SiteReportMini>
                    <SiteReportMini title="https://directline.co.uk/pet-insurance"></SiteReportMini>
                </div>
            </div><!-- end card body -->
        </transition>
    </div><!-- end keyword card -->
</template>

<script>
    /*
    Status Mapping:
    0 = Unprocessed
    1 = Processing
    2 = Job Started
    3 = Page results found
    4 = Page results processed
     */

    import {bus} from '@/main';
    import axios from 'axios';
    import SiteReportMini from '@/components/SiteReportMini.vue';

    export default {
        name: 'KeywordCard',
        components: {
            SiteReportMini,
        },
        data() {
            return {
                activeReport: 0,
                status: 0
            }
        },
        props: {
            kwData: Object,
            kwIndex: Number,
            workspaceslug: String,
            projectslug: String,
            kwProcessed: {
                default: true,
                type: Boolean
            },
            editable: {
                default: false,
                type: Boolean
            },
            expanded: {
                default: true,
                type: Boolean
            },
        },
        created(){
            bus.$on('processAllKeywords', this.processKwData)
        },
        methods: {
            removeProjKw(){
                this.$emit('killKw');
            },
            getKwData(){
                console.log('getting data on this keyword to see if already processed');
            }
        }
    }
</script>

<style scoped lang="scss">
    .card.keyword{
        .card-header{
            .card-title{font-size: 1rem;}
        }
    }
</style>
