<template>
    <aside class="sidebar wide">
        <div class="inner">
            <div class="sb-group px-3 px-md-4 pt-3 pt-md-4 pb-3 sticky-top bg-white shadow-md">
                <button class="close" @click="closeSidebar"><i class="fa fa-times"></i></button>
                <h4 class="font-weight-bold">{{keywords.length}} Suggested keywords</h4>
                <h6>Your seed keywords</h6>
                <div class="d-flex">
                    <button class="btn btn-sm btn-outline-secondary disabled" v-for="seedKw in seeds">{{seedKw}}</button>
                </div>
            </div>
            <div class="sb-group keywords px-3 px-md-4 pt-3 pt-xl-4 pb-4">
                <table class="table table-striped keywords" cellspacing="2">
                    <thead style="position: sticky;top: 200px;left: 0;width: 100%">
                    <tr>
                        <th>Keyword</th>
                        <th>Volume</th>
                        <th>Competition</th>
                        <th>CPC</th>
                        <th></th>
                    </tr>
                    </thead>
                    <transition-group name="skwanim" enter-active-class="animated faster fadeInLeftSmall" leave-active-class="animated faster fadeOutLeft" tag="tbody">
                        <tr v-for="(keyword, index) in keywords" v-bind:key="'rskw'+keyword.id" @click="addKwToProject(index)">
                            <td>{{keyword.keyword}}</td>
                            <td>{{keyword.search_volume}}</td>
                            <td>{{keyword.competition}}</td>
                            <td>{{keyword.cpc}}</td>
                            <td class="p-2"><button class="btn btn-plain text-success mt-1"><i class="fa fa-plus-square" style="font-size: 1rem;"></i></button></td>
                        </tr>
                    </transition-group>
                </table>
            </div><!-- end sb group -->
            <div class="sb-group footer d-flex justify-content-between p-3 p-md-4">
                <button class="btn btn-secondary lighten trans">Download list to CSV</button>
                <button class="btn btn-outline-primary solidify trans" @click="closeSidebar">Continue</button>
            </div><!-- end sb group -->
        </div>
    </aside>
</template>


<script>
    import axios from 'axios'
    import SparkLine from '@/components/Sparkline.vue';

    export default {
        name: 'KeywordSidebar',
        components: {
            SparkLine,
        },
        mounted() {
            this.$nextTick(function () {
                this.getKwData();
            })
        },
        data() {
            return {
                kwsfetched: false,
                keywords: [],
            }
        },
        props: {
            title: String,
            status: {
                default: 0,
                type: Number
            },
            selectedCount: {
                default: 0,
                type: Number
            },
            expanded: {
                default: false,
                type: Boolean
            },
            seeds: Array
        },
        methods: {
            getKwData(){
                if(!this.kwsfetched) {
                    axios.post('projects/single/keywords', {workspace_slug: this.$route.params.workspaceslug, project_slug: this.$route.params.projectslug})
                        .then(response => {
                            this.keywords = response.data.data.kw_research;
                            this.kwsfetched = true;
                        })
                        .catch(e => {
                            console.log(e.response.data.data);
                        })
                }
            },
            closeSidebar() {
                this.$emit('sidebarClose')
            },
            addKwToProject(kwIndex){
                if(this.selectedCount < 10) {
                    this.$emit('addKw', this.keywords[kwIndex]);
                    this.keywords.splice(kwIndex, 1);
                }
            },
            returnKwToList(kwData){
                this.keywords.push(kwData);
            },
        }
    }
</script>

<style scoped lang="scss">
    #myElement{}
</style>
