<template>
    <transition name="modalAnim" enter-active-class="animated faster fadeInDownSmall" leave-active-class="animated faster fadeOut">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <div class="modal-header p-2 p-md-3 border-bottom">
                        <slot name="header">
                            default header
                        </slot>
                    </div>

                    <div class="modal-body p-0">
                        <slot name="body">
                            default body
                        </slot>
                    </div>

                    <div class="modal-footer p-2 p-md-3 d-flex justify-content-between">
                        <slot name="footer">
                            <button class="btn btn-primary" @click="$emit('close')">
                                OK
                            </button>
                        </slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>


<script>
    export default {
        name: 'Modal',
        data() {
            return {
                kwsfetched: false,
                keywords: [],
            }
        },
        props: {
            title: String,
        },
        methods: {
            myFunc(){
                return true;
            }
        }
    }
</script>

<style scoped lang="scss">
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        width: 460px;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .24);
        transition: all .3s ease;
        font-family: Helvetica, Arial, sans-serif;
    }

    .modal-header{
        h3{margin-top: 0;color: #42b983;}
    }

    .modal-body {
        padding: 20px;
    }

    .modal-footer{border-top: 1px solid rgba(0,0,0,.1);}

    .modal-default-button {
        float: right;
    }
</style>