<template>
    <span>
        <header class="page-heading trans mb-3 mb-lg-4" v-bind:class="{'minimise':!expanded}">
            <Breadcrumbs v-bind:pages="breadCrumbs"></Breadcrumbs>
            <div class="d-flex justify-content-between align-items-center">
                <transition name="headingTextAnim" enter-active-class="animated faster fadeInDownSmall" mode="out-in">
                    <span class="heading-text">
                        <h1 class="font-weight-bold trans m-0 text-capitalize" key="title">{{title}}</h1>
                        <p class="lead trans mt-1 mb-0" v-if="subtitle" key="subtitle">{{subtitle}}</p>
                    </span>
                </transition>
                <slot></slot>
            </div>
        </header>
        <hr>
    </span>
</template>

<script>

    import Breadcrumbs from '@/components/Breadcrumbs.vue';

    export default {
        name: 'PageHeading',
        components: {
            Breadcrumbs,
        },
        props: {
            title: String,
            subtitle: String,
            btn: String,
            expanded: {
                default: true,
                type: Boolean
            },
            breadCrumbs: Array,
        },
        methods: {
            emitButtonClick(step) {
                this.$emit('buttonClick', step)
            }
        }
    }
</script>

<style scoped lang="scss">
    header.page-heading {
        h1{min-height: 50px;}
        p.lead{height: 30px;}
    }
    header.page-heading.minimise{
        opacity: .4;
        h1{font-size: 1.72rem;min-height: auto;}
        p.lead{font-size: 1rem;min-height: auto;}
        .breadcrumbs{font-size: .8rem;}
    }
</style>
