<template>
    <router-link class="card project shadow-md pull-up trans" :to="getProjectLink" v-if="status !== 0">
        <img :src="'http://api.lacuna.com' + thumbnail" class="img-fluid"/>
        <div class="card-body border-top p-xl-4">
            <h5 class="card-title mb-2">{{title}}</h5>
            <p class="sub d-inline-block mb-2 mb-lg-3 text-grey">{{ subtitle }}</p>
            <div class="clearfix"></div>
            <button type="button" class="btn btn-sm btn-success">Explore</button>
        </div>
    </router-link>
    <div class="card project shadow-md trans" v-else>
        <div style="height: 180px;background-color:#e9ebf5;text-align:center;" class="d-flex align-items-center justify-content-center position-relative">
            <span style="z-index: 2;">
                <i class="fa fa-circle-notch fa-spin" style="font-size: 1.2rem;"></i>
                <p class="mt-2 mb-0">Setting up project</p>
            </span>
            <img :src="'http://api.lacuna.com' + thumbnail" class="img-fluid position-absolute" style="opacity: 0.1;"/>
        </div>
        <div class="card-body border-top p-xl-4">
            <h5 class="card-title mb-2">{{title}}</h5>
            <p class="sub d-inline-block mb-2 mb-lg-3 text-grey">{{ subtitle }}</p>
            <div class="clearfix"></div>
            <button type="button" class="btn btn-sm btn-secondary disabled">Loading</button>
        </div>
    </div>
</template>


<script>
    export default {
        name: 'ProjectCard',
        components: {
            // NameHere,
        },
        props: {
            title: String,
            subtitle: String,
            link: String,
            thumbnail: String,
            btn: String,
            status: {
                default: 0,
                type: Number
            },
        },
        computed: {
            getProjectLink(){
                if(this.status === 1){
                    return this.link + '/kwconfig';
                } else {
                    return this.link;
                }
            }
        }
    }
</script>

<style scoped lang="scss">
    header.page-heading {
        h1{min-height: 50px;}
        p.lead{height: 30px;}
    }
    header.page-heading.minimise{
        opacity: .4;
        h1{font-size: 1.72rem;min-height: auto;}
        p.lead{font-size: 1rem;min-height: auto;}
        .breadcrumbs{font-size: .8rem;}
    }
</style>
