<template>
    <div class="site-entry">
        <div class="site-heading" @click="expanded = !expanded" v-bind:class="{'active': expanded}">
            <span class="site-title">{{title}}</span>
            <i class="fas float-right text-grey mr-2" v-bind:class="{'fa-caret-down': !expanded, 'fa-caret-up': expanded}"></i>
        </div>
        <transition name="siterepbody" enter-active-class="animated faster fadeInDownSmall">
            <div class="site-body" v-if="expanded">
                <div class="d-flex">
                    <div class="stat-group snapshot pr-xl-4">
                        <p class="font-weight-bold mb-1">Site snapshot</p>
                        <img src="http://api.lacuna.com/project-images/a6f4af5809b68133d593eedf16066530.jpg" class="img-fluid shadow-md" style="max-width: 200px;">
                    </div>
                    <div>
                        <div class="stats-wrapper d-flex">
                            <div class="stat-group pl-xl-4">
                                <p class="font-weight-bold m-0">Page speed</p>
                                <span style="font-size: 1.2rem;">78</span>
                            </div><!-- end stat group -->
                            <div class="stat-group">
                                <p class="font-weight-bold m-0">Page content</p>
                                <span style="font-size: 1.2rem;">247</span><span class="ml-1 small">words</span>
                            </div><!-- end stat group -->
                            <div class="stat-group">
                                <p class="font-weight-bold m-0">Page sentiment</p>
                                <span style="font-size: 1.2rem;">Positive</span>
                            </div><!-- end stat group -->
                            <div class="stat-group">
                                <p class="font-weight-bold m-0">Page backlinks</p>
                                <span style="font-size: 1.2rem;">68</span>
                            </div><!-- end stat group -->
                            <div class="stat-group">
                                <p class="font-weight-bold m-0">Example metric</p>
                                <span style="font-size: 1.2rem;">377</span>
                            </div><!-- end stat group -->
                            <div class="stat-group">
                                <p class="font-weight-bold m-0">Monthly visits</p>
                                <span style="font-size: 1.2rem;">140k</span><span class="ml-1 small">approx</span>
                            </div><!-- end stat group -->
                            <div class="stat-group">
                                <p class="font-weight-bold m-0">Lacuna score</p>
                                <span style="font-size: 1.2rem;">768</span>
                            </div><!-- end stat group -->
                        </div><!-- end stats -->
                        <div class="report">
                            <h5 class="font-weight-bold">Domain authority: 55</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet aperiam corporis, culpa ea ex illum molestias nisi quaerat quisquam quod, quos repellat similique tempora vel! Cum quo sunt voluptatum.</p>
                        </div>
                    </div>
                </div><!-- end row -->
            </div><!-- end report body -->
        </transition>
    </div>
</template>


<script>
    import {bus} from '@/main';
    export default {
        name: 'SiteReportMini',
        components: {
            // NameHere,
        },
        data() {
            return {
                expanded: false,
            }
        },
        props: {
            title: String,
        },
        created(){
            bus.$on('processAllKeywords', this.closeSiblingReports)
        },
        methods: {
            closeSiblingReports(){

            },
            // ExpandSiteInfo(step) {
            //     this.expanded = !this.expanded;
            //     this.$emit('expanded', step)
            // }
        }
    }
</script>

<style scoped lang="scss">
    .site-entry{display: block;border-top: 1px solid rgba(63, 77, 84, 0.1);
        .site-heading{
            padding: .9rem 1rem;cursor: pointer;
            &.active{background-color: #f7faff;}
        }
        .site-heading:hover,
        .site-heading:active,
        .site-heading:focus{background-color: #fbfcff;}
        .site-body{
            min-height: 140px;
            background: #ffffff; /* Old browsers */
            background: -moz-linear-gradient(top, #ffffff 0%, #f9fbfc 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #ffffff 0%,#f9fbfc 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #ffffff 0%,#f9fbfc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9fbfc',GradientType=0 ); /* IE6-9 */
            .stats-wrapper{border-bottom: 1px solid rgba(63, 77, 84, 0.1);}
            .stat-group{
                padding: 1rem 1.2rem;
                &.snapshot{border-right: 1px solid rgba(63, 77, 84, 0.1);}
            }
            .report{padding: 1.2rem;}
        }
    }
</style>
