<template>
    <apexcharts :width="width" :height="height" type="area" :options="chartOpts" :series="chartData"></apexcharts>
</template>


<script>
    import VueApexCharts from 'vue-apexcharts'
    import axios from 'axios';
    export default {
        name: 'SparkLine',
        components: {
            apexcharts: VueApexCharts,
        },
        props: {
            endpoint: { default: '', type: String},
            width: { default: '200px', type: String},
            height: { default: '48px', type: String},
            toolbar: { default: false, type: Boolean},
            grid: { default: false, type: Boolean},
            legend: { default: false, type: Boolean},
        },
        data() {
            return {
                loading: true,
                chartOpts: {
                    chart: {
                        id: 'sparkchart',
                        sparkline: {
                            enabled: true,
                        },
                        toolbar: { show: this.toolbar },
                    },
                    legend: { show: this.legend, position: 'bottom'},
                    xaxis: { categories: [] },
                    grid: {
                        show: this.grid,
                    },
                    stroke: {
                        show: true,
                        curve: 'straight',
                        lineCap: 'round',
                        colors: undefined,
                        width: 2,
                        strokeDashArray: 2,
                    }
                },
                chartData: [
                    {
                        name: 'series2',
                        data: [31, 40, 34, 51, 42, 52, 47]
                    }
                ],
            }
        },
        mounted: function () {
            // this.$nextTick(function () {
            //     axios.get(this.endpoint)
            //         .then(response => {
            //             // show data in card
            //             console.log(response.data.data);
            //             this.listData = response.data.data;
            //             this.loading = false;
            //         })
            //         .catch(e => {
            //             console.log(e.response);
            //             this.handleError(e);
            //         })
            // })
        },
        methods: {
            updateChart() {
                console.log(this.chartData[0].data);
                const max = 90;
                const min = 20;
                const newData = this.chartData[0].data.map(() => {
                    return Math.floor(Math.random() * (max - min + 1)) + min
                })
                console.log(newData);
                // In the same way, update the series option
                this.chartData[0].data = newData
            }
        }
    }
</script>
