<template>
    <div class="card shadow-sm h-100">
        <div class="card-header d-flex align-items-center">
            <figure class="avatar rounded-circle overflow-hidden my-0 mr-2 mr-xl-3">
                <img src="https://api.adorable.io/avatars/60/avatar.png">
            </figure>
            <span>
                <h4>{{title}}</h4>
                <h6 class="text-uppercase small font-weight-bold text-grey m-0" style="letter-spacing: 1px;">{{subtitle}}</h6>
            </span>
        </div>
        <div class="card-body pt-1">
            <p class="lead">{{body}}</p>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'tipCard',
        props: {
            title: String,
            subtitle: String,
            body: String,
        },
        data: () => ({
            formStep: 1,
        }),
        methods: {
            myFunc() {
                this.$emit('cancelNewProj')
            },
        }
    }
</script>

<style lang="scss" scoped>
    .card{}
</style>
