$pearlGrey: #a9b7c7;
$primaryColor: #3a63d8;
$secondaryColor: #d8dcec;
$successColor: #62cd93;
$warningColor: #edb147;
$dangerColor: #de3d3d;
$darkColor: #707890;
$textColor: #3a4e63;
$linkColor: $primaryColor;

$sidebarWidth: 280px;
$sidebarWidthMd: 300px;
$sidebarWidthLg: 300px;
$sidebarWidthXl: 360px;
$dataMenuWidth: 400px;
$dataMenuWidthMd: 500px;
$dataMenuWidthLg: 520px;
$dataMenuWidthXl: 640px;

.trans{
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}
.trans.slow{
  -webkit-transition: all 0.72s;
  -moz-transition: all 0.72s;
}
*{
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
*::selection {
  background: #b1bcd8; /* WebKit/Blink Browsers */
}
*::-moz-selection {
  background: #b1bcd8; /* Gecko Browsers */
}
:hover{}
body{
  font-family: 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 14px;
  background-color: #f8f9fb;
  color: $textColor;
}

// Sidebar padding classes
#app{}
#page{
  position: relative;
  &.sidebar-expanded main{padding-left: $sidebarWidth;}
  &.dataMenu-expanded main{padding-right: $dataMenuWidth;}
  main{overflow: hidden;position:relative;min-height: calc(100vh - 70px);
  }
}

.text-grey{color: $pearlGrey;}
.display-1{font-size: 3rem;}
.display-2{font-size: 2.6rem;}
.display-3{font-size: 2.2rem;}
.display-4{font-size: 1.8rem;}
.display-5{font-size: 1.6rem;}

// Custom FadeInSmall transition

@keyframes fadeInDownSmall {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0,-15px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDownSmall {
  -webkit-animation-name: fadeInDownSmall;
  animation-name: fadeInDownSmall;
  animation-duration: 300ms;
}


@keyframes fadeInLeftSmall {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeftSmall {
  -webkit-animation-name: fadeInLeftSmall;
  animation-name: fadeInLeftSmall;
  animation-duration: 300ms;
}

@keyframes fadeInRightSmall {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, -10px);
    transform: translate3d(0, 0, -10px);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRightSmall {
  -webkit-animation-name: fadeInRightSmall;
  animation-name: fadeInRightSmall;
  animation-duration: 300ms;
}

@keyframes fadeOutUpSmall {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0,  0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0,-15px, 0);
  }
}

.fadeOutUpSmall {
  -webkit-animation-name: fadeOutUpSmall;
  animation-name: fadeOutUpSmall;
  animation-duration: 300ms;
}

@keyframes fadeOutDownSmall {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0,  0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 15px, 0);
    transform: translate3d(0, 15px, 0);
  }
}

.fadeOutDownSmall {
  -webkit-animation-name: fadeOutDownSmall;
  animation-name: fadeOutDownSmall;
  animation-duration: 300ms;
}

// Interactions

.text-focus-primary:hover,
.text-focus-primary:active{color: $primaryColor;}
.text-focus-danger:hover,
.text-focus-danger:active{color: $dangerColor;}

// Buttons

.btn{background-color: transparent;border:none;outline: none;padding: .4rem 1rem;border-radius: 2px;color: $textColor;display: inline-block;}
.btn:hover,
.btn:active,
.btn:focus{text-decoration: none;outline: none;}
.btn.darken:hover{box-shadow: inset 0 40px 0 rgba(0,0,0,.1);}
.btn.lighten:hover{box-shadow: inset 0 40px 0 rgba(255,255,255,.1);}
.btn.disabled{opacity: 0.8;pointer-events: none;cursor: default;}
.btn.btn-sm{font-size: .8rem;padding: .25rem .5rem;}
.btn.btn-lg{font-size: 1rem;padding: .4rem .75rem;}
.btn.btn-rounded{border-radius: 4px;}
.btn.btn-plain{padding: 0;}
.btn.btn-primary{background-color: $primaryColor;color: #fff;}
.btn.btn-secondary{background-color: $secondaryColor;color: rgba(0,0,0,.4);font-weight: 600;}
.btn.btn-success{background-color: $successColor;color: #fff;}
.btn.btn-warning{background-color: $warningColor;color: #fff;}
.btn.btn-danger{background-color: $dangerColor;color: #fff;}
.btn.btn-light{background-color: #fff;}
.btn.btn-grey{background-color: $pearlGrey;color: #fff;}
.btn.btn-dark{background-color: $darkColor;color: #fff;}
.btn.btn-outline-primary{border: 1px solid $primaryColor;color: $primaryColor;}
.btn.btn-outline-primary.solidify:hover{background-color: $primaryColor;color: #fff;}
.btn.btn-outline-secondary{border: 1px solid $secondaryColor;color: #a9b7c7;font-weight: 600;}
.btn.btn-outline-secondary.solidify:hover{background-color: $secondaryColor;}
.btn.btn-outline-success{border: 1px solid $successColor;}
.btn.btn-outline-success.solidify:hover{background-color: $successColor;color: #fff;}
.btn.btn-outline-warning{border: 1px solid $warningColor;}
.btn.btn-outline-warning.solidify:hover{background-color: $warningColor;color: #fff;}
.btn.btn-outline-danger{border: 1px solid $dangerColor;}
.btn.btn-outline-danger.solidify:hover{background-color: $dangerColor;color: #fff;}
.btn.btn-outline-light{border: 1px solid #fff;}
.btn.btn-outline-grey{border: 1px solid rgba(0,0,0,.12);}
.btn.btn-outline-grey.solidify:hover{background-color: $pearlGrey;color: #fff;}
.btn.btn-outline-dark{border: 1px solid $darkColor;}
.btn.btn-outline-dark.solidify:hover{background-color: $darkColor;color: #fff;}
.btn.btn-checkbox{width: 16px;height: 16px;border-radius: 2px;display: inline-block;border: 2px solid rgba(0,0,0,.2);padding: 0;vertical-align: top;}

// DropDowns

.dropdown-cont{position: relative;
  .dropdown{position: absolute;padding-top: .4rem;min-width: 100%;z-index: 2;
    .dropdown-body{background-color: #fff;border: 1px solid rgba(0,0,0,.1);width: max-content;border-radius: 2px;min-width: 100%;z-index: 2;position: relative;}
  }
  .dropdown .dropdown-header{font-weight: 600;font-size: .9rem;}
  .dropdown .dropdown-header,
  .dropdown .dropdown-item{padding: .4rem 1rem;display: block;font-size: .82rem;}
  .dropdown .dropdown-link{display: block;font-size: .82rem;
    a, button{display: block;padding: .4rem 1rem;color: $textColor;background-color: transparent;border: none;outline: none;width: 100%;text-align: inherit;
      &:hover{background-color: #f2f3f9;color: $primaryColor;}
    }
  }
  .dropdown .dropdown-divider{border-top: 1px solid rgba(0,0,0,.1);}
}

// Cards

.card{border-radius: 4px;background-color: #fff;color: $textColor;display: block;border: 1px solid #fff;position: relative;
  i.icon{float: right;font-size: 1.4rem;color: $pearlGrey;opacity: .6;}
  button.action{background-color: transparent;border: none; outline: none;}
  .card-header{padding: 1rem;}
    .card-title{font-weight: 700;display: block;}
    .card-subtitle{color: $pearlGrey;}
  .card-body{padding: 1rem;}
  .card-footer{padding: 1rem;border-top: 1px solid rgba(0,0,0,.1);}
  &:hover,
  &:focus,
  &:active{text-decoration: none;}
  &.arrow-top-center:before{content: "";display: inline-block;position: absolute;top: -20px;left: 50%;transform: translate(-50%, 0);
    width: 0;height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #fff;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.06)
  }
}
.card.pull-up:hover{box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.02) !important;transform: scale(1.02, 1.02);}
.card.pull-up.shadow-md:hover{box-shadow:0 0.4rem 1.2rem rgba(0, 0, 0, 0.09)!important;transform: scale(1.02, 1.02);}

// Forms

form{
  position: relative;
  button.close{position: absolute;right: 0;top: 0;background-color: transparent;border: none;outline: none;padding: .2rem;font-size: 1.2rem;color: $pearlGrey;}
  .form-group{
    .form-control{border-radius: 2px;}
    .form-control:focus,
    .form-control:active{box-shadow: none;outline: none;border-color: $primaryColor;}
    .msg{font-size: .8rem;color: $pearlGrey;font-weight: 600;margin-top: .2rem;display: block;}
    &.error{
      .form-control{border-color: $dangerColor;}
      .msg{}
    }
  }
}

// Progress bars

.progress-bar{
  height: 6px;border-radius: 4px;background-color: #f8f9fb;width: 100%;display: block;position: relative;overflow: hidden;
  .bar{height: 6px;width: 30%;background-color: $pearlGrey;position: absolute;}
}
.progress-bar.progress-primary .bar{background-color: $primaryColor;}
.progress-bar.progress-success .bar{background-color: $successColor;}
.progress-bar.progress-danger .bar{background-color: $dangerColor;}
.progress-bar.progress-warning .bar{background-color: $warningColor;}

// Alerts

.alert{background-color: transparent;border:none;outline: none;padding: .75rem 1.2rem;border-radius: 2px;color: $textColor;display: flex;width: 100%;justify-content: space-between;align-items: center;}
.alert:hover,
.alert:active,
.alert:focus{text-decoration: none;}
.alert.darken:hover{box-shadow: inset 0 40px 0 rgba(0,0,0,.4);}
.alert.lighten:hover{box-shadow: inset 0 40px 0 rgba(255,255,255,.1);}
.alert.alert-sm{font-size: .8rem;padding: .25rem .5rem;}
.alert.alert-rounded{border-radius: 4px;}
.alert.alert-primary{background-color: $primaryColor;color: #fff;}
.alert.alert-secondary{background-color: $secondaryColor;color: rgba(0,0,0,.4);font-weight: 600;}
.alert.alert-success{background-color: $successColor;color: #fff;}
.alert.alert-warning{background-color: $warningColor;color: #fff;}
.alert.alert-danger{background-color: $dangerColor;color: #fff;}
.alert.alert-light{background-color: #fff;}
.alert.alert-grey{background-color: $pearlGrey;color: #fff;}
.alert.alert-dark{background-color: $darkColor;color: #fff;}
.alert .btn{}
.alert .btn.btn-outline{border: 1px solid #fff;}

// Tables

table.table{
  border: none;padding: 0;margin: 0;
  &.table-striped tr:nth-child(odd){background-color: #f5f6f7;}
  thead{
    background-color: #f5f6f7;
    th{border-bottom: 1px solid #fff;border-top: none;}
    th:nth-child(n+2){border-left: 2px solid #fff;}
  }
  tbody{
    background-color: #fbfcfe;
    tr:hover{background-color: #e4e8ed!important;cursor: pointer;}
    th,td{border-top: 2px solid #fff;}
    td:nth-child(n+2){border-left: 2px solid #fff;}
    td.action{
      padding: .5rem;
    }
  }
}

// Shadows
.shadow-md{box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.06) !important;}

.toasted-container.top-right{top: 90px!important;right: 20px!important;}

// Top header
header.primary{
  height: 70px;
  a:hover{text-decoration: none;}
  .toggle{
    color: $pearlGrey;
    cursor: pointer;
    display: inline-block;
    i.fa{font-size: 1.4rem;}
    &:hover{color: #000;}
  }
  .branding{
    color: $textColor;font-weight: 700;display: inline-flex;align-items: center;
    img{}
    span{font-size: 1.2rem;letter-spacing: -.4px;}
  }
  nav.main{
    a{color: $pearlGrey;font-weight: 400;font-size: 1rem;padding: .2rem;}
    a:hover{color: $textColor;}
    a.router-link-active,
    a.router-link-exact-active{color: #000;}
    ul{margin: 0;padding: 0;display: flex;}
    ul li{display: inline-block;}
    ul li + li{margin-left: 1.5rem;}
  }
}

// Left sidebar

aside.sidebar{
  background-color: #fff;
  border-right: 1px solid rgba(0,0,0,.1);
  width: $sidebarWidth;
  position: absolute;
  height: 100%;
  left: 0;
  .inner{position: relative;height: 100%;overflow-y: scroll;}
  &.medium{min-width: $dataMenuWidth;width: 400px;top:0;right: 0;left: auto;}
  &.wide{min-width: $dataMenuWidth;width: 400px;top:0;right: 0;left: auto;}
  button.close{font-size: 1.6rem;padding: .2rem;background: transparent;outline: none;border: none;color: $pearlGrey;position: absolute;top: 1rem;right: 1rem;line-height: 1;}
  button.close:hover{color: $primaryColor;}
  .sb-heading{display: flex;align-items: center;width: 100%;
    h2,h3,h4,h5,h6{font-weight: 700;margin: 0;font-size: 1.12rem;}
    i.fa{font-size: 1rem;color: $primaryColor;margin-right: .4rem}
  }
  .sb-group{
    h6{text-transform: uppercase;font-weight: 700;color: $pearlGrey;font-size: .76rem;}
    ul.menu{margin: 0;padding: 0;}
    ul.menu li{display: block;margin-top: 1rem;}
    ul.menu li a,
    ul.menu li button{display: flex;color: $textColor;font-weight: 700;width: 100%;justify-content: space-between;align-items: center;
      padding: .1rem .1rem .1rem 0;opacity: .8;outline: none;border:none;background-color: transparent;}
    ul.menu li a:hover,
    ul.menu li a:active{color: $linkColor;text-decoration: none;opacity: 1;}
    ul.menu li a.router-link-exact-active{color: $linkColor}
    ul.menu ul.submenu{margin: 0;padding: 0 0 .5rem .5rem;}
    ul.menu ul.submenu a{font-size: .82rem;}
    &.footer{position: sticky;bottom: 0;left: 0;width: 100%;background-color: #fff;border-top: 1px solid rgba(0,0,0,.1);}
  }
  .stat-card{
    border: 1px solid rgba(0,0,0,.1);margin-bottom: 10px;
    span.figure{font-size: 1.4rem;font-weight: 700;display: block;line-height: 1;}
    span.desc{font-size: .72rem;font-weight: 600;color: $pearlGrey;}
  }
}


@media (min-width: 992px) {
  aside.sidebar{
    width: $sidebarWidthMd;
    &.wide{min-width: $dataMenuWidthMd;width: $dataMenuWidthMd;}
    &.medium{min-width: $dataMenuWidthMd;width: $dataMenuWidthMd;}
  }
  #page{
    &.sidebar-expanded main{padding-left:$sidebarWidthMd;}
    &.dataMenu-expanded main{padding-right: $dataMenuWidthMd;}
  }
}

@media (min-width: 1200px) {
  aside.sidebar{
    width: $sidebarWidthLg;
    &.wide{min-width: $dataMenuWidthLg;width: $dataMenuWidthLg;}
  }
  #page{
    &.sidebar-expanded main{padding-left:$sidebarWidthLg;}
    &.dataMenu-expanded main{padding-right: $dataMenuWidthLg;}
  }
}
@media (min-width: 1400px) {
  .container{max-width: 1320px;}
  aside.sidebar{
    width: $sidebarWidthXl;
    &.wide{min-width: $dataMenuWidthXl;width: $dataMenuWidthXl;}
  }
  #page{
    &.sidebar-expanded main{padding-left:$sidebarWidthXl;}
    &.dataMenu-expanded main{padding-right: $dataMenuWidthXl;}
  }
}