<template>
  <div id="app">
    <header class="primary bg-white border-bottom d-flex justify-content-between align-items-center">
      <span class="d-flex h-100">
        <router-link to="/" class="branding px-4">
          <img src="/images/logo.png" class="logo mr-1" width="24" height="auto"><span>Lacuna</span>
        </router-link>
      </span>
      <transition name="nav-transition"
                  enter-active-class="animated faster fadeInDownSmall"
                  leave-active-class="animated faster fadeOut">
        <span class="d-flex align-items-center" v-if="isLoggedIn">
        <nav class="main">
        <ul>
          <li>
            <div class="dropdown-cont" v-click-outside="closeToolMenu">
            <a @click="toolMenuOpen = !toolMenuOpen">Tools<i class="fa fa-angle-down ml-2"></i></a>
            <div class="dropdown animated fadeInDownSmall" style="right: 0;" v-if="toolMenuOpen">
              <div class="dropdown-body text-right shadow-sm">
              <span class="dropdown-link"><a href="#">Keyword research</a></span>
              <span class="dropdown-link"><a href="#">Rank tracking</a></span>
              <span class="dropdown-link"><a href="#">Competitor report</a></span>
              </div>
            </div>
          </div><!-- end dropdown cont -->
          </li>
          <li><router-link to="/workspaces">Workspaces</router-link></li>
          <li><router-link to="/tasks">Tasks</router-link></li>
          <li><router-link to="/settings">Settings</router-link></li>
        </ul>
      </nav>
      <div class="user px-3 px-lg-4">
        <div class="dropdown-cont" v-click-outside="closeUserMenu">
          <button class="btn btn-sm btn-rounded btn-outline-grey d-flex align-items-center" @click="userMenuOpen = !userMenuOpen"><div class="avatar"><img src="https://ui-avatars.com/api/?background=3a63d8&color=fff&rounded=true" width="24"></div><span class="font-weight-bold mx-1">Your account</span><i class="fa fa-angle-down text-black-50"></i></button>
          <div class="dropdown animated fadeInDownSmall" style="right: 0;" v-if="userMenuOpen">
            <div class="dropdown-body text-right shadow-sm">
              <div class="dropdown-header"><span>Jack Callow</span></div>
            <span class="dropdown-link"><a href="#">Profile</a></span>
            <span class="dropdown-link"><a href="#">Billing</a></span>
            <div class="dropdown-divider"></div>
            <span class="dropdown-link"><button @click="doLogout">Logout</button></span>
            </div>
          </div>
        </div>
      </div>
      </span>
      </transition>
    </header>
    <div id="page" v-bind:class="{ 'dataMenu-expanded': isDataMenuOpen, 'dataMenu-expanded': isDataMenuOpen }">
      <main class="trans w-100">
        <router-view/>
      </main>
    </div><!-- end page -->
  </div><!-- end app -->
</template>

<script>

    // @ is an alias to /src
    // import loadingScreen from '@/components/loader.vue'

    import vClickOutside from 'v-click-outside'
    import Pusher from 'pusher-js'

    export default {
        name: 'App',
        directives: {
            clickOutside: vClickOutside.directive
        },
        methods: {
            closeToolMenu(event) {
                this.$data.toolMenuOpen = false;
            },
            closeUserMenu(event) {
                this.$data.userMenuOpen = false;
            },
            doLogout () {
                this.$store.commit('logout');
                this.$router.push('/login');
            },
        },
        data() {
            return {
                userMenuOpen: false,
                toolMenuOpen: false,
            }
        },
        computed: {
            isDataMenuOpen() {
                return this.$store.state.dataMenuOpen
            },
            isLoggedIn() {
                return this.$store.state.auth
            },
            getApiKey() {
                return this.$store.state.apikey;
            }
        },
        mounted() {
            if(this.$store.state.auth){
                let pusher = new Pusher('dfd829c5989067a2914b', { cluster: 'eu' })
                pusher.subscribe('lacuna-global')
                pusher.bind('alert', data => {

                    let actions = [];

                    if(data.actions) {
                        actions =
                            {
                                text: (data.actions.text) ? data.actions.text : 'View',
                                onClick: (e, toastObject) => {
                                    this.$router.push(data.actions.slug);
                                    toastObject.goAway(0);
                                }
                            }
                    }


                    let toastedData = {
                        theme: 'toasted-primary',
                        position: "top-right",
                        duration: 10000,
                        action : actions
                    };

                    this.$store.commit('storeAlert', data);

                    switch(data.status){
                        case 'info':
                            this.$toasted.info(data.message, toastedData)
                          break;

                        case 'error':
                            this.$toasted.error(data.message, toastedData)
                          break;

                        case 'success':
                            this.$toasted.success(data.message, toastedData)
                          break;

                        default:
                            this.$toasted.show(data.message, toastedData)
                    }
                })
            }
        }
    }
</script>

<style lang="scss">
  @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
  @import "../node_modules/bootstrap/scss/bootstrap-grid";
  @import "../node_modules/bootstrap/scss/vendor/rfs";
  @import "../node_modules/bootstrap/scss/mixins/hover";
  @import "../node_modules/bootstrap/scss/mixins/lists";
  @import "../node_modules/bootstrap/scss/mixins/image";
  @import "../node_modules/bootstrap/scss/mixins/border-radius";
  @import "../node_modules/bootstrap/scss/mixins/box-shadow";
  @import "../node_modules/bootstrap/scss/mixins/background-variant";
  @import "../node_modules/bootstrap/scss/mixins/clearfix";
  @import "../node_modules/bootstrap/scss/mixins/screen-reader";
  @import "../node_modules/bootstrap/scss/mixins/text-truncate";
  @import "../node_modules/bootstrap/scss/mixins/text-emphasis";
  @import "../node_modules/bootstrap/scss/mixins/text-hide";
  @import "../node_modules/bootstrap/scss/mixins/deprecate";
  @import "../node_modules/bootstrap/scss/mixins/transition";
  @import "../node_modules/bootstrap/scss/mixins/forms";
  @import "../node_modules/bootstrap/scss/mixins/gradients";
  @import "../node_modules/bootstrap/scss/mixins/table-row";
  @import "../node_modules/bootstrap/scss/mixins/list-group";
  @import "../node_modules/bootstrap/scss/variables";
  @import "../node_modules/bootstrap/scss/root";
  @import "../node_modules/bootstrap/scss/reboot";
  @import "../node_modules/bootstrap/scss/utilities";
  @import "../node_modules/bootstrap/scss/type";
  @import "../node_modules/bootstrap/scss/images";
  @import "../node_modules/bootstrap/scss/forms";
  @import "../node_modules/bootstrap/scss/tables";
  @import "../node_modules/bootstrap/scss/list-group";
  @import "/assets/fa-light.scss";
  @import "/assets/fa-regular.scss";
  @import "/assets/fa-solid.scss";
  @import "/assets/app.scss";

  .user-meta{position: absolute;bottom: 1rem;left: 1rem;}
</style>
