<template>
    <div class="login d-flex justify-content-center align-items-center vh-100 position-absolute w-100" style="top: 0;left: 0;">
        <div class="card shadow-sm animated fadeIn">
            <div class="card-content content">
                <div class="card-body">
                    <h3 class="d-block font-weight-bold">Login</h3>
                    <hr>
                    <form autocomplete="on" @keydown.enter="doLogin" @keyup="authMessage = ''">
                        <div v-for="message in authMessage" class="alert alert-danger mb-2">{{message}}</div>
                        <div class="form-group" v-bind:class="{'error':authMessage['email']}">
                            <label class="mb-1">Email address</label>
                            <input type="email" id="user-email" class="form-control" placeholder="@example.com" v-model.trim="userEmail">
                            <span class="msg" v-if="authMessage['email']">{{ authMessage['email'][0] }}</span>
                        </div><!-- end form group -->
                        <div class="form-group" v-bind:class="{'error':authMessage['password']}">
                            <label class="mb-1">Password</label>
                            <input type="password" id="user-pass" class="form-control" v-model.trim="userPass">
                            <span class="msg" v-if="authMessage['password']">{{ authMessage['password'][0] }}</span>
                        </div><!-- end form group -->
                        <div class="form-group">
                            <button class="btn btn-primary trans" v-on:click="doLogin" v-bind:class="{ 'is-loading': doingAxios }" type="button"><span>Login</span><i class="fa fa-arrow-right ml-2" v-if="!doingAxios"></i><i class="fa fa-spin fa-circle-notch ml-2" v-if="doingAxios"></i></button>
                        </div><!-- end form group -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    // @ is an alias to /src
    import axios from 'axios';
    export default {
        name: 'Login',
        components: {},
        data(){
            return {
                authMessage: '',
                userEmail: '',
                userPass: '',
                doingAxios: false
            }
        },
        methods: {
            doLogin () {
                this.doingAxios = true;
                axios.post('/user/login', {email: this.userEmail, password: this.userPass, source: 'Web App'})
                    .then(response => {
                        console.log(response.data.data);
                        this.$store.commit('login', response.data.data.api_key);
                        this.$router.push('/');
                    })
                    .catch(e => {
                        console.log(e.response.data);
                        this.$store.commit('logout');
                        this.doingAxios = false;
                        this.authMessage = e.response.data.data
                    })
            },
        }
    }
</script>

<style scoped>
    .login .card{width: 380px;max-width: 400px;margin-bottom: 4rem;}
    @media (min-height: 600px) {
        .login .card {
            margin-bottom: 7rem;
        }
    }
    @media (min-height: 900px) {
        .login .card {
            margin-bottom: 12rem;
        }
    }
</style>
